@media (max-width: 1023px) {

  .sales-block .container {
    position: relative;
    z-index: 2;
  }
  
  .header {
    z-index: 3;
  }

  .header__menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    box-sizing: border-box;
    z-index: 9999;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    transform: translate(-100%, 0);
    background-color: #476cbe;
    padding-bottom: 30px;
    align-items: flex-start;
    overflow: scroll;
  }

  .header__menu.active {
    width: 100%;
    transition: transform 0.4s ease; 
    transform: translate(0%, 0);
   }

  .burger-content {
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 30px;
    margin-top: 25px;
  }

  .burger-content::after {
      content: "";
      display: block;
      position: absolute;
      top: -12px;
      left: -50px;
      width: 50px;
      height: 48px;
      pointer-events: none;
      background: linear-gradient(to left,rgba(255,255,255,1) 50%,rgba(255,255,255,0.3) 100%);
  }

  .burger-mob {
    position: relative;
    display: block;
    background: #476cbe;
    width: 25px;
    height: 3px;
    border-radius: 5px;
    top: 12px; 
  }

  .burger-mob::before {
    content: "";
    position: absolute;
    background: #476cbe;
    width: 25px;
    height: 3px;
    top: 6px;
    display: block;
    border-radius: 5px; 
  }

  .burger-mob::after {
    content: "";
    position: absolute;
    background: #476cbe;
    width: 25px;
    height: 3px;
    bottom: 6px;
    display: block;
    border-radius: 5px; 
  }

  .mobile-menu-close {
    display: block;
    position: absolute;
    top: 30px;
    left: 12px;
    width: 24px;
    height: 24px; 
  }

  .mobile-menu-close .cross {
    position: absolute;
    top: 0;
    height: 4px;
    margin-top: -2px;
    left: 0;
    width: 100%;
    z-index: 1; 
  }

  .mobile-menu-close .cross:before {
    content: "";
    display: block;
    position: absolute;
    background: #fff;
    width: 22px;
    height: 3px;
    top: 12px;
    transform: rotate(-45deg); 
  }

  .mobile-menu-close .cross:after {
    content: "";
    display: block;
    position: absolute;
    background: #fff;
    width: 22px;
    height: 3px;
    top: 12px;
    transform: rotate(45deg); 
  }

  .header__menu-list {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    margin-top: 57px;
  }

  .header__menu-list a {
    display: inline-block;
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 30px;
  }

  .header__mob-logo {
    display: block;
    margin-left: 15px;
    margin-top: 90px;
    margin-bottom: 18px;
  }

  .header__mob-tel {
    display: block;
    font-size: 17px;
    font-weight: 500;
    color: #bdd2ff;
    margin-left: 15px;
    margin-bottom: 7px;
  }

  .header__mob-mail {
    display: block;
    font-size: 14px;
    color: #bdd2ff;
    margin-left: 15px;
  }

  .header__logo-content {
    max-width: none;
    width: auto;
  }

  .header__logo {
    margin-right: 0;
    max-width: 23rem;
  }

  .header__logo-content {
    height: auto;
  }

  .intro__price {
    display: none;
  }

  .intro .container {
    padding-bottom: 30rem;
  }

  .intro__item-info {
    display: none;
  }

  .parallax-item {
    position: absolute;
  }

  .header__mob-content {
    display: block;
    margin-left: 28px;
    padding-top: 25px;
  }

  .header__mob-content-item {
    max-width: 55px;
    width: 100%;
    text-align: center;
    margin-bottom: 17px;
  }

  .header__mob-content-item img {
    display: block;
    max-width: 48%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 5px;
  }

  .header__mob-content-item p {
    font-size: 13px;
    color: #424752;
  }

  .presentation .parallax-item:nth-child(1) {
    max-width: 80rem;
    left: 40% !important;
  }

  .territory .title-block::before {
    height: 16px;
    max-width: 112px;
  }

  .panorama .play-btn {
    max-width: 20rem;
    height: 20rem;
  }

  .circle-1 {
    width: 20rem;
    height: 20rem;
  }

  .circle-2 {
    width: 16rem;
    height: 16rem;
  }

  .circle-3 {
    width: 14rem;
    height: 14rem;
  }

  .panorama .container {
    padding-bottom: 90rem;
  }

  .quality__img {
    display: flex;
    align-items: center;
    min-height: 33.5rem; 
  }

  .quality__img img {
    max-width: 55%;
  }

  .quality__item:first-child .quality__img img {
    max-width: 15%;
  }

  .quality__list {
    padding-top: 7rem;
  }

  .about__item {
    max-width: none;
    width: 33.333%;
  }

  .about__item-img img {
    max-width: 60%;
  }

  .about__item:nth-child(2) .about__item-img img {
    max-width: 38%;
  }

  .about__item:nth-child(3) .about__item-img img {
    max-width: 45%;
  }

  .about__item:nth-child(4) .about__item-img img {
    max-width: 50%;
  }

  .about__item:nth-child(7) .about__item-img img {
    max-width: 58%;
  }

  .about__item:nth-child(8) .about__item-img img {
    max-width: 58%;
  }

  .about__item strong {
    padding-bottom: 5px;
  }

  .panorama::before {
    height: 340px;
  }

  .apartment .btn-main {
    max-width: 36rem;
  }

  .apartment .btn-main--small span {
    line-height: 10rem;
  }

  .apartment .btn-main--small::before {
    height: 11rem;
  }

  .apartment__item-img {
    min-height: 49%;
  }

  .apartment-choose .main-form {
    margin-right: 14rem;
  }

  .apartment-choose .parallax-item:nth-child(1) {
    top: 77rem !important;
  }

  .presentation__form-content {
    margin-left: 0;
  }

  .keys .container {
    padding-top: 16rem;
  }

  .documents .container {
    padding-top: 10rem;
  }

  .documents .parallax-item:nth-child(1) {
    max-width: 100rem;
  }

  .documents .container {
    padding-bottom: 7rem;
  }

  .investment__main-img {
    max-width: 97rem;
    
  }

  .investment__price {
    margin-left: 0;
  }

  .excursion {
    background-position: center;
  }

  .excursion .container {
    padding-bottom: 0;
  }

  .buys .container {
    padding-top: 15rem;
  }

  // .intro-block .parallax-item:nth-child(4) {
  //   top: -60rem !important;
  // }

  .footer__logo-content {
    max-width: none;
    width: auto;
  }

  .footer__logo {
    margin-right: 30px;
  }

  .footer__main-content {
    max-width: 105rem;
  }

  .office__list-wrap {
    padding-left: 30px;
    padding-right: 30px;
  }

  .sales-block .container {
    padding-bottom: 55rem;
  }

  .intro__item-about {
    margin-right: 0;
  }

  .intro__item-about {
    max-width: 175px;
    width: 100%;
  }

  .intro__tree {
    display: none;
  }

  .intro__item-title {
    max-width: 335px;
    width: 100%;
  }

  .intro__title::before {
    right: 0;
  }

  .intro__item-title {
    position: relative;
  }

  .apartment__item strong {
    min-height: 17%;
  }

  .intro-block-inner .parallax-item:nth-child(3) {
    right: 10% !important;
  }

  .intro-block-inner .parallax-item:nth-child(2) {
    left: 10% !important;
  }

  .news__list {
    margin-top: 45px;
  }

  .consultation h3 {
    margin-left: 30px;
  }

  .consultation .main-form {
    margin-left: 30px;
  }

  .news__item-title {
    font-size: 24px;
    line-height: 30px;
  }

  .news__item-img {
    margin-right: 20px;
  }

  .news__item-content p {
    font-size: 16px;
    line-height: 22px;
  }

  .build-main {
    margin-top: 25px;
  }

  .build-slider__slider-btn--next {
    right: 0;
  }

  .build-slider__slider-btn--prev {
    left: 0;
  }

  #map-1 {
    height: 520px;
  }

  .opportunities .parallax-item:nth-child(1) {
    display: none;
  }

  .opportunities .title-block {
    display: none;
  }

  .opportunities::before {
    height: 150px;
  }

  .opportunities .container {
    position: static;
    transform: translate(0, 0);
  }

  .opportunities__info {
    max-width: none;
    position: static;
    transform: translate(0, 0);
    box-shadow: none;
    margin-top: 20px;
  }

  .opportunities__info-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: none;
    padding: 0;
  }

  .opportunities__info-item strong {
    font-size: 38px;
  }

  .opportunities__info-item p {
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 0;
  }

  .opportunities__info-item {
    max-width: 130px;
    width: 100%;
  }

  .slider-big__item img {
    max-width: none;
    width: 85%;
  }

  .territory__slider-btn {
    max-width: 17px;
  }

  label.error {
    font-size: 14px;
  }

  .opportunities::after {
    display: none;
  }

  .intro-block--thanks .intro .container {
    margin-top: 30px;
    padding-bottom: 450px;
  }
}

@media (max-width: 900px) {
  .intro-block .parallax-item:nth-child(6) {
    max-width: 100px;
    width: 100%;
  }

  .presentation .parallax-item:nth-child(1) {
    max-width: 300px;
    top: 213px !important;
  }

  .apartment-choose .main-form {
    margin-right: 0;
  }

  .keys__about-content {
    margin-left: 0;
  }

  .keys__main-content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .keys__about-content {
    max-width: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
  }

  .keys__about {
    width: 157px;
  }

  .keys__achievements {
    max-width: 175px;
    width: 100%;
    margin-left: 20px;
  }

  .keys__main-content {
    padding-top: 45px;
  }

  .keys .container::after {
    bottom: auto;
    top: 324px;
  }

  .documents .parallax-item:nth-child(1) {
    max-width: 400px;
  }

  .investment__main-img {
    display: none;
  }

  .investment__content {
    justify-content: center;
  }

  .investment__price-item {
    position: absolute;
    right: 0;
    top: 240px;
  }

  .investment__price {
    max-width: 270px;
    margin-right: 50px;
  }

  .investment__services .investment__benefits-item {
    max-width: 270px;
  }

  .investment__benefits-item {
    max-width: none;
  }

  .investment__benefits-item br {
    display: none;
  }

  .investment__content {
    padding-top: 220px;
  }

  .investment__price-item {
    max-width: 400px;
    width: 100%;
  }

  .investment__price-item::before {
    width: 200px;
  }

  .investment__price-item p {
    max-width: 190px;
  }

  .main-form__wrap {
    padding: 45px 15px;
  }

  .main-form--background {
    max-width: 330px;
  }

  .excursion .main-form {
    margin-top: 0;
  }

  .buys__title-content {
    flex-direction: column;
    align-items: center;
  }

  .buys .title-block {
    margin-left: 0;
    text-align: center;
  }

  .buys__safe p {
    font-size: 20px;
  }

  .buys__safe p::before {
    top: -3px;
  }

  .office__list-wrap {
    flex-wrap: wrap;
  }

  .office__item {
    width: 50%;
    margin-bottom: 30px;

    &:nth-child(even) {
      text-align: right;
    }
  }

  .office .btn-main {
    margin-left: auto;
  }

  .footer__company-info {
    display: none;
  }

  .footer__main-content {
    max-width: 560px;
  }

  .intro-block .parallax-item:nth-child(2) {
    right: 100px !important;
  }

  .consultation::before {
    height: 453px;
  }

  .inner-title {
    font-size: 32px;
    line-height: 38px;
  } 

  .build-slider__item p {
    font-size: 12px;
  }

  .build-main__slider-item {
    padding-bottom: 45px;
  }

  .build-main__panorama {
    height: 400px;
  }

  .build-main__panel li {
    height: 55px;
    font-size: 10px;
    max-width: 145px;
  }

  .build-main__panel li span {
    line-height: 16px;
  }

  .build-main__tabs {
    margin-top: 32px;
  }

  .build-main__slider-data {
    font-size: 20px;
    padding-bottom: 28px;
  }

  .build-slider__slider-btn {
    max-width: 15px;
  }

  .build-slider__item-img {
    border-radius: 10px;
  }

  .build-slider__item p {
    padding-top: 10px;
  }

  #map-2 {
    height: 510px;
  }

  .slider-big .slick-dots li {
    height: 55px;
    font-size: 10px;
    max-width: 145px;
  }

  .territory .title-block__subtitle {
    padding-bottom: 20px;
  }

  .slider-big__info {
    position: static;
    box-shadow: none;
    margin: 0 auto;
  }

  .slider-big__info-wrap {
    border: none;
  }

  .territory__slider-wrap {
    margin-top: 40px;
  }

  .slider-big .slick-dots {
    top: -40px;
  }

  .territory__btns-wrap {
    margin-top: 29%;
  }

  .territory {
    padding-bottom: 20px;
  }

  .popup-big__bg {
    display: none;
  }

  .popup {
    max-width: 440px;
  }

  .popup__wrap {
    padding: 0 20px;
  }
}

@media (max-width: 800px) {
  .intro__title {
    font-size: 34px;
    line-height: 38px;
    padding-top: 10px;
  }

  .intro-block .parallax-item:nth-child(6) {
    right: 17% !important;
    top: 120px !important; 
  }

  .intro-block .parallax-item:nth-child(5) {
    display: none;
  }


  .intro .container {
    flex-direction: column;
    align-items: center;
  }

  .intro__item-title {
    order: 1;
    padding-top: 5px;
    max-width: 500px;
    padding-bottom: 42px;
  }

  .intro__item-video {
    order: 2;
  }

  .intro__prize-content {
    display: none;
  }

  .intro__item-about {
    order: 3;
  }

  .intro__subtitle {
    font-size: 9px;
  }

  .intro .btn-main {
    display: block;
    font-size: 10px;
    margin: 0 auto;
  }

  .btn-main span {
    padding-top: 5px;
    line-height: 60px;
    border-radius: 18px;

    &::before {
      border-radius: 18px;
    }

    &::after {
      border-radius: 18px;
    }
  }

  .btn-main:hover span::before {
    border-radius: 18px;
  }

  .btn-main::before {
    height: 68px;
    border-radius: 18px;
  }

  .btn-main {
    font-size: 11px;
    border-radius: 18px;
    
    &::after {
      border-radius: 18px;
    }

    &:active {
      transform: perspective(250px) scale3d(0.99, 0.99, 0.99) translateY(5%);
      transition: ease 0.2s;
      &::before {
        height: 68px;
        transition: ease 0.2s;
      }
    }
  }

  .apartment .btn-main--small::before {
    height: 57px;
  }

  .apartment .btn-main--small {
    font-size: 9px;
    border-radius: 18px;
    
    &::after {
      border-radius: 18px;
    }

    &:active {
      transform: perspective(250px) scale3d(0.99, 0.99, 0.99) translateY(5%);
      transition: ease 0.2s;
      &::before {
        height: 57px;
        transition: ease 0.2s;
      }
    }
  }

  .intro .btn-main {
    margin-top: 25px;
  }

  .intro__video-main {
    max-width: 233px;
    margin: 0 auto;
  }

  .intro__video-wrap {
    height: 128px;
  }

  .intro__item-video {
    margin-left: 0;
  }

  .intro__video-btn {
    width: 65px;
    height: 65px;
  }

  .intro__video-text {
    padding-left: 0;
    font-size: 13px;
    line-height: 19px;
    max-width: 150px;
    width: 100%;
  }

  .benefit-table {
    max-width: 160px;
    margin-left: -28px;
    margin-top: 27px;
  }

  .intro-block::before {
    //height: 40vw;
    //bottom: -150px;
    height: 32vw;
    bottom: -6vw;
  }

  .intro__title::before {
    top: 50%;
    right: -23px;
  }

  .intro .container {
    padding-bottom: 65px;
  }

  .title-block__main-title {
    font-size: 28px;
    line-height: 34px;
    text-align: center;
  }

  .presentation .title-block {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 650px;
    width: 100%;
    padding-bottom: 0;
  }

  .presentation .container {
    flex-direction: column-reverse;
  }

  .presentation__form-content {
    position: static;
    max-width: 290px;
    width: 100%;
  }

  .presentation__benefits {
    padding-top: 100px;
  }

  .presentation__benefits {
    max-width: 290px;
  }

  .presentation__benefits-item {
    max-width: none;
    align-items: center;
    padding-bottom: 10px;
  }

  .presentation__benefits-item p {
    padding-top: 0;
  }

  .presentation__benefits-item p br {
    display: none;
  }

  .presentation .main-form {
    margin-top: 325px;
    max-width: 290px;
  }

  .presentation .parallax-item:nth-child(1) {
    top: 310px !important;
    left: 36% !important;
  }

  .btn-main--col span {
    line-height: 20px;
    padding-top: 14px;
    padding-bottom: 11px;
  }

  .main-form__fields input {
    height: 70px;
    font-size: 14px;
  }

  .main-form strong {
    font-size: 23px;
    padding-bottom: 7px;
  }

  .main-form__subtitle {
    font-size: 15px;
  }

  .panorama::before {
    left: -305px;
    height: 255px;
    width: 200%;
  }

  .panorama .title-block {
    padding-left: 0;
    max-width: 215px;
  }

  .panorama .title-block__main-title {
    text-align: left;
  }

  .panorama .title-block__main-title::before {
    width: 25px;
    height: 17px;
    top: 44px;
  }

  .quality .container {
    padding-top: 45px;
  }

  .quality__item-wrap strong {
    font-size: 19px;
  }

  .quality__item-wrap p {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .quality__img {
    margin-top: 0;
  }

  .about__item-first p {
    font-size: 14px;
    line-height: 20px;
  }

  .about__item-first p br {
    display: none;
  }

  .about .container {
    padding-top: 40px;
  }

  .quality .container {
    padding-bottom: 60px;
  }

  .quality {
    border-bottom: 1px solid #f1f3f8;
  }

  .about__item-wrap {
    display: flex;
    align-items: flex-start;
    padding-left: 20px;
    padding-right: 20px;
  }

  .about__item-first .about__item-img {
    margin-bottom: 0;
    margin-right: 5px;
    min-width: 23px;
  }

  .about__item-first .about__item-img img {
    max-width: 100%;
  }

  .about__item-first {
    margin-top: 100px;
  }

  .about__list {
    padding-top: 10px;
  }

  .about {
    border-bottom: 1px solid #f1f3f8;
  }

  .resort .container {
    padding-top: 55px;
  }

  .apartment__list {
    flex-wrap: wrap;
    padding-top: 25px;
  }

  .apartment__item {
    width: 50%;
  }

  .apartment__item:nth-child(even) .apartment__item-img {
    border-right: none;
  }

  .apartment__item-img img {
    max-width: 50%;
  }

  .title-block__subtitle {
    font-size: 16px;
    line-height: 22px;
    padding-top: 13px;
  }

  .apartment__item {
    padding-bottom: 45px;
  }

  .apartment-choose .container {
    padding-top: 20px;
  }

  .apartment__item-img {
    min-height: 208px;
  }

  .apartment-choose .main-form {
    margin: 0 auto;
    margin-top: 291px;
  }

  .apartment-choose .parallax-item:nth-child(1) {
    top: 145px !important;
    left: 20% !important;
    max-width: 420px;
  }

  .main-form__description {
    font-size: 10px;
    padding-top: 20px;
  }

  .keys .container {
    padding-top: 65px;
  }

  .keys__main-content {
    padding-top: 35px;
  }

  .documents .container {
    padding-top: 30px;
  }

  .documents__list {
    margin: 0 auto;
  }

  .documents__item-link {
    font-size: 12px;
  }

  .documents__item-note p {
    font-size: 12px;
  }

  .documents__list {
    padding-top: 325px;
  }

  .documents .parallax-item:nth-child(1) {
    top: 80px !important;
    left: 20% !important;
  }

  .investment .container {
    padding-top: 50px;
  }

  .investment__price-item {
    top: 185px;
  }

  .investment__price-item p {
    font-size: 14px;
  }

  .investment__price-item {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .investment__price-item::before {
    width: 130px;
  }

  .investment__content {
    padding-top: 175px;
  }

  .investment__benefits-item ul li {
    font-size: 16px;
  }

  .investment__benefits-item p {
    font-size: 16px;
  }

  .investment__benefits-title {
    font-size: 21px;
  }

  .excursion__content {
    flex-direction: column;
    align-items: center;
  }

  .excursion {
    background-size: cover;
    background-position: 76% 20%;
  }

  .excursion__list li {
    font-size: 15px;
    line-height: 25px;
    padding-bottom: 20px;
  }

  .excursion .main-form {
    margin-top: 47px;
  }

  .main-form__link-data {
    font-size: 10px;
  }

  .buys .container {
    padding-top: 60px;
  }

  .buys__main-content {
    flex-direction: column;
    align-items: center;
  }

  .buys__logo-col {
    min-height: 80px;
  }

  .buys__text-col {
    min-height: 80px;
  }

  .buys__safe {
    margin-top: -75px;
  }

  .buys__safe p {
    font-size: 23px;
  }

  .buys__safe p::before {
    top: 0;
  }

  .buys__logo-img img {
    margin: 0 auto;
  }

  .main-form h4 {
    font-size: 26px;
    line-height: 30px;
  }

  .buys .main-form {
    margin-top: 20px;
  }

  .sales-block__list {
    flex-direction: column;
    align-items: center;
  }

  .sales-block .parallax-item:nth-child(1) {
    display: none;
  }

  .sales-block__item-title strong {
    font-size: 25px;
  }

  .sales-block__item-title p {
    font-size: 15px;
  }

  .sales-block__item-title {
    max-width: 215px;
    padding-left: 15px;
  }

  .sales-block__item {
    max-width: 285px;
    padding-bottom: 30px;
  }

  .sales-block__item-img img {
    max-width: 55%;
    margin: 0;
    margin-left: auto;
  }

  .sales-block__item-img {
    margin-right: 0;
  }

  .sales-block__item:last-child .sales-block__item-img img {
    max-width: 48%;
  }

  .sales-block__item-wrap .sales-block__item-img {
    margin-top: 0;
  }

  .btn-main--brown.btn-main--col span {
    padding-top: 14px;
    padding-bottom: 11px;
  }

  .btn-main--brown.btn-main--col.btn-main::before {
    height: 68px;
  }

  .sales-block .container {
    padding-bottom: 50px;
  }

  .sales-block::before {
    height: 100px;
  }

  .footer .container {
    flex-direction: column;
    align-items: center;
  }

  .footer__logo {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .footer__main-content {
    max-width: none;
  }

  .footer__social {
    order: 1;
  }

  .footer__nav {
    order: 3;
  }

  .footer__contacts {
    order: 2;
  }

  .consultation .main-form {
    margin: 0 auto;
  }

  .consultation::before {
    display: none;
  }

  .consultation__big-img {
    display: none;
  }

  .consultation h3 {
    text-align: center;
    margin: 0 auto;
    font-size: 35px;
    line-height: 39px;
    padding-bottom: 35px;
  }

  .consultation .container {
    padding-bottom: 30px;
  }

  .inner-title {
    font-size: 26px;
    line-height: 32px;
  }

  .news__item {
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;

    &:last-child {
      margin-bottom: 55px;
    }
  }

  .news__item-img {
    margin-bottom: 17px;
    margin-right: 0;
  }

  .office__list {
    margin-top: 25px;
  }

  .office__list-wrap {
    padding-top: 15px;
  }

  .opportunities__info-item {
    width: 26%;
    max-width: none;
  }

  .apartment .container {
    padding-top: 60px;
  }

  .resort .container {
    padding-bottom: 0;
  }

  .apartment .title-block__main-title br {
    display: none;
  }

  .presentation .container {
    padding-bottom: 80px;
  }

  .popup {
    max-width: 380px;
  } 

  .intro__thanks-info {
    flex-direction: column;
    padding-top: 0;
  }

  .intro__thanks-description {
    padding-top: 20px;
  }

  .intro__thanks-info-wrap {
    padding-left: 25px;
    padding-right: 25px;
  }

  .intro__thanks-item:first-child {
    margin-right: 20px;
  }
}

@media (max-width: 700px) {
  .quality__list {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .quality__item-wrap {
    border: none;
    box-shadow: none;
  }

  .quality__item {
    max-width: none;
    box-shadow: none;
  }

  .quality__item-wrap p br {
    display: none;
  }

  .quality__item:first-child .quality__img img {
    max-width: 40px;
  }

  .quality__img img {
    max-width: 150px;
  }

  .panorama .container {
    padding-bottom: 300px;
  }

  .panorama .play-btn {
    max-width: 72px;
    height: 72px;
  }

  .circle-1 {
    width: 72px;
    height: 72px;
  }

  .circle-2 {
    width: 62px;
    height: 62px;
  }

  .circle-3 {
    width: 52px;
    height: 52px;
  }

  .circle-4 {
    display: none;
  }

  .quality .container {
    padding-bottom: 30px;
  }

  .about .container {
    padding-top: 50px;
  }

  .about__list {
    flex-direction: column;
    align-items: center;
  }

  .about__item-wrap {
    padding: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
  }

  .about__item-first .about__item-img {
    margin-right: 10px;
  }

  .about__item-first {
    max-width: 240px;
  }

  .about__item {
    width: 100%;
    padding-bottom: 40px;
  }

  .about__item:nth-child(2) .about__item-img img {
    max-width: 110px;
  }

  .about__item:nth-child(3) .about__item-img img {
    max-width: 120px;
  }

  .about__item:nth-child(4) .about__item-img img {
    max-width: 140px;
  }

  .about__item-img img {
    max-width: 180px;
  }

  .about__item:nth-child(7) .about__item-img img {
    max-width: 160px;
  }

  .about__item:nth-child(8) .about__item-img img {
    max-width: 160px;
  }

  .about__item .about__item-img {
    align-items: flex-end;
    min-height: 130px;
    margin-bottom: 5px;
  }

  .about__item-first {
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .about .parallax-item:nth-child(1) {
    max-width: 150px;
  }

  .resort__list {
    flex-wrap: wrap;
    padding-top: 30px;
  }

  .resort__item {
    width: 50%;
    margin-bottom: 25px;
  }

  .resort__item p {
    font-size: 12px;
    line-height: 18px;
  }

  .resort__item strong {
    font-size: 12px;
    line-height: 18px;
  }

  .resort__item-img {
    max-width: 100px;
    margin-bottom: 15px;
  }

  .apartment__item strong {
    font-size: 14px;
    line-height: 18px;
    min-height: 53px;
  }

  .apartment__item p {
    font-size: 12px;
    line-height: 18px;
  }

  .apartment .btn-main--small span {
    line-height: 32px;
  }

  .apartment .btn-main--small::before {
    height: 39px;
  }

  .apartment .btn-main--small {

    &:active {
      transform: perspective(250px) scale3d(0.99, 0.99, 0.99) translateY(5%);
      transition: ease 0.2s;
      &::before {
        height: 39px;
        transition: ease 0.2s;
      }
    }
  }

  .apartment .btn-main--small {
    max-width: 140px;
  }

  .apartment__item-img {
    min-height: 180px;
  }

  .keys__list {
    flex-direction: column;
    align-items: center;
  }

  .keys .container::after {
    top: 305px;
  }

  .keys__item {
    max-width: 265px;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .keys__item p {
    max-width: none;
    padding-left: 10px;
    padding-right: 10px;
  }

  .keys__about p {
    font-size: 12px;
    line-height: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .keys__about {
    width: 135px;
  }

  .keys__about::before {
    background-size: contain;
  }

  .keys__about-img {
    max-width: 70px;
  }

  .keys__achievements p {
    font-size: 13px;
    line-height: 19px;
  }

  .keys__main-content {
    padding-top: 30px;
  }

  .excursion {
    background-size: inherit;
    background-position: 50% -7%;
  }

  .excursion .main-form {
    margin-bottom: -45px;
  }

  .buys .container {
    padding-top: 105px;
  }

  .buys__safe {
    margin-top: -100px;
  }

  .buys__main-content {
    padding-top: 90px;
  }

  .buys__title-col strong {
    font-size: 13px;
    line-height: 18px;
  }

  .buys__row p {
    font-size: 14px;
  }

  .footer__main-content {
    flex-direction: column;
    align-items: center;
  }

  .footer__social {
    margin-bottom: 25px;
  }

  .footer__nav {
    text-align: center;
    margin-top: 35px;
  }

  .footer__nav a {
    font-size: 13px;
  }

  .footer__contacts {
    text-align: center;
  }

  .footer__logo {
    margin-bottom: 20px;
  }

  .btn-main--smaller span {
    line-height: 50px;
  }

  .btn-main--smaller::before {
    height: 57px;
  }

  .btn-main--smaller {
    font-size: 10px;

    &:active {
      transform: perspective(250px) scale3d(0.99, 0.99, 0.99) translateY(5%);
      transition: ease 0.2s;
      &::before {
        height: 57px;
        transition: ease 0.2s;
      }
    }
  }

  .sales-block__item-img img {
    margin-left: 0;
  }

  .sales-block__item-title {
    padding-left: 0;
  }

  .sales-block__item-img {
    max-width: 50px;
  }

  .sales-block__item-img img {
    max-width: 74%;
  }

  .sales-block__item:last-child .sales-block__item-img img {
    max-width: 65%;
  }

  .build-main__panorama {
    height: 400px;
  }


  .play-btn {
    max-width: 82px;
    height: 82px;
  } 

  .build-main__tab-item .play-btn {
    max-width: 82px;
    height: 82px;
  }

  .slider-big .slick-dots {
    flex-direction: column;
    align-items: center;
    top: -205px;
  }

  .slider-big .slick-dots li {
    border-radius: 8px;
    border-right: 1px solid #dde1ec;

    &:first-child {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    &:last-child {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }

  .territory__slider-wrap {
    margin-top: 205px;
  }

  .territory__btns-wrap {
    margin-top: 38%;
  }

  .slider-big__info-wrap {
    padding-bottom: 20px;
  }

  .presentation .container {
    padding-bottom: 40px;
  }

  .presentation {
    border-bottom: 1px solid #f1f3f8;
  }

  .territory {
    padding-top: 40px;
  }

}

@media (max-width: 600px) {
  .intro__item-title {
    max-width: 275px;
  }

  .intro__title::before {
    right: 0;
  }

  .header__tel-content {
    display: none;
  }

  .intro-block .parallax-item:nth-child(6) {
    display: none;
  }

  .intro-block .parallax-item:nth-child(2) {
    right: -200px !important;
  }

  .header__logo-content {
    margin-right: 100px;
  }

  .panorama .play-btn {
    top: 60%;
  }

  .about .parallax-item:nth-child(1) {
    display: none;
  }

  .apartment__item-img {
    min-height: 145px;
  }

  .apartment-choose .parallax-item:nth-child(1) {
    max-width: 400px;
    left: 10% !important;
    top: 165px !important;
  }

  .documents .parallax-item:nth-child(1) {
    left: 0 !important;
  }

  .investment .title-block {
    max-width: 300px;
    margin: 0 auto;
  }

  .investment .title-block br {
    display: none;
  }

  .investment__price-item {
    top: 270px;
  }

  .investment__benefits-img {
    max-width: 103px;
  }

  .investment .container {
    padding-top: 38px;
  }

  .investment__content {
    flex-direction: column;
    align-items: center;
  }

  .investment__price {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .sales-block::after {
    height: 672px;
    z-index: 0;
    pointer-events: none;
  }

  .sales-block .container {
    position: relative;
    z-index: 2;
  }

  .office__list-wrap {
    flex-direction: column;
    align-items: center;
  }

  .office__item:nth-child(even) {
    text-align: left;
  }

  .office__item {
    width: 100%;
  }

  .office .btn-main {
    margin: 0 auto;
    margin-top: 20px;
  }

  .presentation .parallax-item:nth-child(1) {
      left: 25% !important;
  }

  .apartment-choose .title-block {
    max-width: 290px;
    margin: 0 auto;
  }

  .apartment-choose .parallax-item:nth-child(1) {
    top: 245px !important;
    left: 10% !important;
  }

  .investment__price-item {
    max-width: 330px;
  }

  .keys__item-img img {
    max-width: 82%;
  }

  .presentation__benefits {
    padding-top: 125px;
  }

  .intro-block-inner .parallax-item:nth-child(2) {
    display: none;
  }

  .intro-block-inner .parallax-item:nth-child(3) {
    display: none;
  }

  .news__item-title {
    font-size: 20px;
    line-height: 26px;
  }

  .news__item-content p {
    font-size: 14px;
    line-height: 20px;
  }

  .news__item-data {
    font-size: 10px;
  }

  .header__logo-content {
      margin-right: 10px;
      width: 59%;
  }

  .intro-block-inner .parallax-item:nth-child(1) {
    top: -100px !important;
    right: -97px !important;
    left: auto !important;
  }

  .intro-block-inner {
    background-position: top;
  }

  .build-slider__slider-btn {
    display: none;
  }

  .build-main__slider-item {
    margin-left: -15px;
    margin-right: -15px;
  }

  .build-main__panorama {
    height: 350px;
  }

  .build-main__tab-item {
    padding-bottom: 80px;
  }

  .opportunities__info-item {
    width: 36%;
  }

  #map-2 {
    height: 410px;
  }

  .territory__slider-wrap .container {
    align-items: flex-end;
  }

  .territory__btns-wrap {
    margin-top: 0;
  }

  .slider-big__item img {
    width: 100%;
    border-radius: 12px;
  }

  .territory__slider-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }

  .slider-big__item {
    padding-bottom: 50px;
  }

  .territory__slider-btn {
    max-width: 15px;
  }

  .territory__slider-wrap {
    margin-bottom: 35px;
  }

  .fancybox-slide--html .fancybox-close-small {
    right: 0px;
    top: -37px;
  }

  .popup {
    padding: 5px;
  }

  .popup__wrap {
    padding: 0 5px;
  }

  .popup .main-form {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  
  .main-form__fields input {
    padding-left: 37px;
    padding-right: 37px;
  }

  label.error {
    padding-left: 37px;
  }

  .popup .main-form {
    max-width: 300px;
    margin: 0 auto;
  }
}

@media (max-width: 440px) {
  .header__logo-content {
    margin-right: 10px;
    width: 60%;
  }

  .header__logo {
    max-width: 85px;
  }

  .intro .container {
    margin-top: 20px;
  }

  .header__mob-content {
    padding-top: 15px;
  }

  .presentation .title-block {
    max-width: 290px;
    margin: 0 auto;
  }

  .presentation__benefits {
    padding-top: 155px;
  }

  .presentation .parallax-item:nth-child(1) {
    top: 356px !important;
    left: 16% !important;
  }

  .apartment__item-img img {
    max-width: 63%;
  }

  .apartment-choose .parallax-item:nth-child(1) {
    left: 0 !important;
  }

  .documents .parallax-item:nth-child(1) {
    left: -3% !important;
  }

  .investment__price-item {
    max-width: 285px;
  }

  .excursion {
    background-position: 52% -15%;
  }

  .buys__title-col strong {
    max-width: 80px;
    display: block;
  }

  .buys__safe {
    max-width: none;
    width: 33.333%;
  }

  .buys__title-col strong {
    margin: 0 auto;
  }

  .buys__logo-row {
    padding-bottom: 0;
  }

  .buys__safe {
    margin-top: -120px;
  }

  .buys__logo-img img {
    max-width: 90%;
  }

  .buys__row:nth-child(2) .buys__logo-img img {
    max-width: 50%;
  }

  .inner-title {
    padding-top: 20px;
  }

  .news__list {
    margin-top: 40px;
  }

  .build-slider__item-img {
    max-width: 200px;
    height: 200px;
  }

  .build-main__panorama {
    height: 225px;
  }

  .intro__thanks-info-wrap {
    flex-direction: column;
    text-align: center;
  }

  .intro__thanks-item {
    margin: 0 auto;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .intro__thanks-item:first-child {
    margin-right: 0;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .intro__spacer {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .intro-block--thanks .intro .container {
    padding-bottom: 0;
  }

  .intro__text-subtitle {
    text-shadow: 0 0 54px #fff, 0 0 55px #fff, 0 0 45px #fff, 0 0 55px #fff, 0 0 55px #fff, 0 0 55px #fff, 0 0 55px #fff, 0 0 55px #fff, 0 0 55px #fff, 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff;
  }
}

@media (max-width: 374px) {
  .investment__price-item {
    max-width: 250px;
  }

  .keys__about {
    min-width: 135px;
  }

  .documents .title-block {
    max-width: 290px;
    margin: 0 auto;
  }

  .documents .parallax-item:nth-child(1) {
    left: -12% !important;
    top: 134px !important;
  }

  .documents__item {
    max-width: 120px;
    margin-left: 15px;

    &:nth-child(odd) {
      margin-left: 0;
    }
  }

  .documents__item-note {
    max-width: 130px;
  }

  .documents__item-note-wrap {
    padding-left: 10px;
    padding-right: 10px;
  }

  .title-block__main-title {
    font-size: 27px;
  }

  .office__list {
    max-width: 230px;
  }

  .office__list-wrap {
    padding-right: 10px;
    padding-left: 15px;
  }

  .office__item p {
    font-size: 13px;
    line-height: 19px;
  }

  .office__item {
    padding: 0;
  }

  .office__item strong {
    font-size: 15px;
  }

  .office__list-wrap {
    border: none;
  }

  .office__list::before {
    right: 7%;
  }

  .buys__logo-img img {
    max-width: 100%;
  }

  .main-form__wrap {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .apartment-choose .parallax-item:nth-child(1) {
    top: 265px !important;
  }

  .apartment .btn-main--small {
    max-width: 130px;
  }

  .apartment__item-img img {
    max-width: 65%;
  }

  .apartment__item-img {
    min-height: 115px;
  }

  .about__item-img img {
    max-width: 170px;
  }

  .panorama::before {
    height: 239px;
  }

  .header__logo-content {
    width: 62%;
  }
}
