@media (max-width: 3600px) {
  .panorama::before {
    width: 107%;
    left: -145px;
  }

  .intro-block-inner .parallax-item:nth-child(2) {
    max-width: 15rem;
    left: 25% !important;
  }

  .intro-block-inner .parallax-item:nth-child(3) {
    max-width: 25rem;
    right: 20% !important;
  }
}

@media (max-width: 3300px) {
  .panorama::before {
      width: 112%;
      left: -278px;
  }

  .intro-block .parallax-item:nth-child(6) {
    max-width: 24.5rem;
    right: 30% !important;
  }

  .presentation .container {
    //margin-top: 0;
  }

  .apartment-choose .parallax-item:nth-child(1) {
    max-width: 200.4rem;
    top: 60rem !important;
  }

  .keys__list {
    margin-left: 0;
  }

  .keys__about-content {
    margin-right: 0;
    margin-left: 5rem;
  }

  .excursion .main-form {
    margin-right: 0;
  }

  .intro-block-inner .parallax-item:nth-child(2) {
    left: 20% !important;
  }

  .intro-block-inner .parallax-item:nth-child(3) {
    right: 17% !important;
  }

  .opportunities::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 33px 70px rgba(255, 255, 255, 0.9);
    pointer-events: none;
  }
}

@media (max-width: 3000px) {
  .panorama::before {
      width: 120%;
      left: -418px;
  }

  .intro-block .parallax-item:nth-child(5) {
    left: 2% !important;
    max-width: 14.4rem;
  }

  .apartment-choose .parallax-item:nth-child(1) {
    max-width: 180rem;
    top: 70rem !important;
  }

  .about .parallax-item:nth-child(1) {
    left: 0rem !important;
    max-width: 40.6rem;
  }
}

@media (max-width: 2700px) {
  .presentation .container {
    margin-top: -22rem;
  }
  .panorama::before {
      width: 130%;
      left: -549px;
  }

  .header__logo-content {
    margin-left: 0;
  }

  .intro__item-info {
    margin-left: 0;
  }

  .intro-block .parallax-item:nth-child(6) {;
    right: 25% !important;
  } 

  .slider-big__info {
    left: 17%;
  }

  .apartment-choose .parallax-item:nth-child(1) {
    max-width: 150rem;
    top: 70rem !important;
  }

  .investment__price {
    margin-left: 0;
  }

  .investment__services {
    margin-right: 0;
  }

  .investment__price-item {
    margin-left: 42px;
  }

  .investment__main-img {
    max-width: 161rem;
    bottom: 7rem;
  }

  .news {
    margin-top: 0;
  }

  .intro-block-inner .parallax-item:nth-child(2) {
    left: 17% !important;
  }

  .intro-block-inner .parallax-item:nth-child(3) {
    right: 14% !important;
  }

  .build-slider__slider-btn--prev {
    left: -30px;
  }

  .build-slider__slider-btn--next {
    right: -30px;
  }

  .opportunities__info {
    right: 0;
  }

  .opportunities .parallax-item:nth-child(1) {
    right: 10px !important;
    max-width: 14rem;
  }

  .opportunities::before {
    width: 140%;
    left: -30%;
  }


}

@media (max-width: 2400px) {

  .documents .parallax-item:nth-child(1) {
    top: 26rem !important;
    left: 0rem !important;
    max-width: 150rem;
  }

  .excursion {
    background-size: contain;
  }

  .about .parallax-item:nth-child(1) {
    max-width: 35.6rem;
    top: 25rem !important;
  }

  .keys__item-wrap {
    padding-top: 6rem;
    padding-bottom: 7rem;
  }

  .keys__item:first-child .keys__item-img img {
    max-width: 50%;
  }

  .slider-big__info {
    left: 20%;
  }

  .quality__img img {
    max-width: 65%;
  }

  .quality__item:first-child .quality__img img {
    max-width: 20%;
  }

  .intro-block-inner .parallax-item:nth-child(2) {
    left: 20% !important;
  }

  .office__map::before {
    background-size: contain;
  }

  .fancybox-slide--html .fancybox-close-small {
    right: -76px;
  }
}

@media (max-width: 2100px) {
  //html {
  //  font-size: 7px;
  //}
  .presentation .container {
    margin-top: -15rem;
  }
  .about__item .about__item-img {
    min-height: 260px;
  }

  .about__item-img img {
    max-width: 90%;
  }

  .about__item:nth-child(2) .about__item-img img {
    max-width: 50%;
  }

  .about__item:nth-child(3) .about__item-img img {
    max-width: 60%;
  }

  .about__item:nth-child(4) .about__item-img img {
    max-width: 70%;
  }

  .about__item:nth-child(7) .about__item-img img {
    max-width: 75%;
  }

  .about__item:nth-child(8) .about__item-img img {
    max-width: 70%;
  }

  .apartment__item-img img {
    max-width: 65%;
  }

  .keys__item-img img {
    max-width: 85%;
  }

  .apartment__item-img {
    min-height: 50%;
    margin-bottom: 5px;
  }

  .apartment__item strong {
    min-height: 15%;
  }

  .panorama::before {
    height: 560px;
  }

  .apartment-choose .parallax-item:nth-child(1) {
    max-width: 165rem;
    top: 70rem !important;
  }

  .sales-block::before {
    height: 600px;
  }

  .sales-block::after {
    height: 370px;
  }

  .buys__logo-img img {
    max-width: 75%;
  }

  .keys__item-img {
    min-height: 52%;
  }


  .intro__info-wrap img {
    display: block;
    max-width: 25%;
    width: 100px;
  }

  .intro-block .parallax-item:nth-child(5) {
    left: 5% !important;
  }

  .presentation__img-wrap img {
    display: block;
    max-width: 50%;
    height: auto;
  }

  .slider-big__info-wrap li {
    top: 2rem;
  }

  .investment__benefits-item ul li::before {
    width: 6px;
    height: 6px;
    border: 2px solid #9eb567;;
  }

  .sales-block__item-img img {
    max-width: 85%;
  }

  .sales-block__item-wrap .sales-block__item-img {
    margin-top: -0.5rem;
  }

  .buys__description-img img {
    max-width: 50%;
    display: block;
    height: auto;
  }

  .intro .container {
    margin-top: 6rem;
  }

  .header__tel::before {
    top: 8px;
  }

  .intro__info-wrap {
    min-height: 54px;
  }

  .intro-block-inner .parallax-item:nth-child(2) {
    max-width: 13rem;
    left: 23% !important;
  }

  .consultation__big-img {
    max-width: 75%;
  }

  .consultation::before {
    right: -100px;
  }

  .slider-big__info-wrap li::before {
    width: 6px;
    height: 6px;
    border: 2px solid #9eb567;
  }
}

@media (max-width: 1921px) {
  html {
    font-size: 5px;
  }
  .presentation .container {
    margin-top: -8vw;
  }

  .slider-big__info {
    left: 26%;
  }

  .sales-block::after {
    height: 40rem;
  }

  .sales-block::before {
    height: 60rem;
  }

  .investment__price-item {
    padding-left: 3rem;
  }

  .investment__price-item::before {
    top: -2px;
    height: 101%;
  }

  .buys__logo-img img {
    max-width: 70%;
  }

  .keys__item-img {
    min-height: 220px;
  }

  .apartment-choose .parallax-item:nth-child(1) {
    max-width: 190rem;
    top: 70rem !important;
    left: 10rem !important;
  }

  .apartment__item-img {
    min-height: 225px;
  }

  .about__item .about__item-img {
    min-height: 162px;
  }

  .intro-block .parallax-item:nth-child(6) {
    right: 33% !important;
  }

  .intro-block .parallax-item:nth-child(5) {
    left: 10% !important;
  }

  .panorama::before {
    left: -200px;
    width: 120%;
    height: 500px;
  }

  .intro-block-inner .parallax-item:nth-child(2) {
    left: 30% !important;
    top: 80px !important;
  }

  .intro-block-inner .parallax-item:nth-child(3) {
    right: 22% !important;
  }

  .inner-title {
    padding-top: 40px;
  }

  .consultation::before {
    left: -180px;
  }

  .opportunities::before {
    width: 100%;
    left: 0;
  }

  .fancybox-slide--html .fancybox-close-small {
    right: -50px;
  }

}

@media (max-width: 1641px) {
  .presentation .container {
    margin-top: -6vw;
  }
  .slider-big__info {
    left: 22%;
  }

  .panorama::before {
    width: 120%;
    height: 360px;
  }

  .apartment-choose .parallax-item:nth-child(1) {
    left: 0 !important;
  } 

  .investment__price-item {
    padding-left: 2rem;
  }

  .buys__logo-img img {
    max-width: 60%;
  }

  .intro-block .parallax-item:nth-child(6) {
    right: 30% !important;
  }

  .intro-block-inner .parallax-item:nth-child(3) {
    right: 22% !important;
    top: 90px !important;
  }

  .intro-block-inner .parallax-item:nth-child(2) {
    left: 25% !important;
  }

}

@media (max-width: 1441px) {
  .slider-big__info {
    left: 19%;
  }

  .intro-block .parallax-item:nth-child(6) {
    right: 28% !important;
  }

  .territory .title-block::before {
    height: 20px;
    max-width: 138px;
  }

  .panorama::before {
    left: -265px;
    width: 125%;
  }

  .intro__title {
    font-size: 9rem;
    line-height: 10rem;
  }

  .title-block__main-title {
    font-size: 8.8rem;
    line-height: 10.4rem;
  }

  .intro__title::before {
    right: 0rem;
  }

  .consultation::before {
    left: 0;
    height: 500px;
  }

  .build-main__panel li {
    max-width: 180px;
    height: 70px;
  }

  .opportunities__info {
    right: 15px;
  }

  .slider-big .slick-dots li {
    max-width: 180px;
    height: 70px;
  }
}

@media (max-width: 1300px) {
  .intro-block .parallax-item:nth-child(5) {
    left: 5% !important;
  }

  .panorama::before {
    left: -385px;
    width: 150%;
  }

  .apartment-choose .parallax-item:nth-child(1) {
    left: 0 !important;
    max-width: 150rem;
  } 

  .excursion__content {
    padding-top: 8rem;
  }

  .intro-block .parallax-item:nth-child(6) {
    right: 25% !important;
    max-width: 23rem;
  }

  .presentation .parallax-item:nth-child(1) {
    max-width: 120rem;
  }

  .slider-big__item img {
    max-width: 180rem;
  }

  .slider-big__info {
    max-width: 55rem;
  }

  .slider-big__info-wrap {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .slider-big__info {
    left: 17%;
  }

  .panorama .play-btn {
    max-width: 24rem;
    height: 24rem;
  }

  .keys__item-img img {
    max-width: 70%;
  }

  .keys__item:first-child .keys__item-img img {
    max-width: 45%;
  }

  .keys__item-wrap {
    padding-top: 4rem;
  }

  .sales-block .container {
    padding-bottom: 80rem;
  }

  .sales-block__item-img img {
    max-width: 75%;
  }

  .quality__img {
    margin-top: 6rem;
  }

  .quality__item-wrap {
    padding-bottom: 6rem;
  }

  .intro-block-inner .parallax-item:nth-child(2) {
    left: 27% !important;
  } 

  .inner-title {
    font-size: 50px;
    line-height: 56px;
  }

  .consultation h3 {
    font-size: 44px;
    line-height: 54px;
  }

  .intro-block-inner .parallax-item:nth-child(2) {
    left: 22% !important;
  } 

  .intro-block-inner .parallax-item:nth-child(3) {
    right: 17% !important;
  }
  
  .build-slider__item-img {
    max-width: 45rem;
    height: 45rem;
  }

  .build-slider__slider-btn--next {
    right: -10px;
  }

  .build-slider__slider-btn--prev {
    left: -10px;
  }

}

@media (max-width: 1161px) {
  .intro__price span {
    font-size: 20rem;
  }

  .presentation .container {
    padding-bottom: 20rem;
  }

  .intro .container {
    padding-bottom: 100rem;
  }

  .panorama .container {
    padding-bottom: 105rem;
  }

  .quality .container {
    padding-top: 14rem;
  }

  .about .container {
    padding-top: 20rem;
  }

  .keys .container {
    padding-top: 19rem;
  }

  .investment__price {
    margin-left: 25px;
  }

  .investment__main-img {
    max-width: 140rem;
    bottom: 20rem;
  }

  .excursion .container {
    padding-top: 7rem;
  }

  .investment__price-item::before {
    top: 0;
    height: 100%;
  }

  .investment .container {
    padding-top: 10rem;
  }

  .intro-block .parallax-item:nth-child(5) {
    left: 1% !important;
  }

  .header__logo-content {
    max-width: 159rem;
  }

  .header__menu-list li {
    margin-right: 8.5rem;
  }

  .header__logo {
    margin-right: 30px;
  }

  .footer__main-content {
    max-width: 115rem;
  }

  .presentation .parallax-item:nth-child(1) {
    max-width: 100rem;
  } 

  .intro__title {
    font-size: 8.5rem;
    line-height: 9.5rem;
  }

  .title-block__main-title {
    font-size: 8.3rem;
    line-height: 9.9rem;
  }

  .intro__title::before {
    right: 4rem;
  }

  .slider-big__info {
    left: 13%;
  } 

  .panorama .title-block__main-title::before {
    right: 0;
  }

  .apartment-choose .parallax-item:nth-child(1) {
    max-width: 110rem;
  }  

  .keys__item-img {
    min-height: 180px;
  }

  .documents .parallax-item:nth-child(1) {
    top: 36rem !important;
    left: 0;
    max-width: 120rem;
  }

  .investment__main-img {
    max-width: 120rem;
    bottom: auto;
    top: 48rem;
  }

  .investment__price-item {
    margin-bottom: 4.5rem;
  }

  .excursion .container {
    padding-top: 0;
    padding-bottom: 10.5rem;
  }

  .buys__description {
    margin-right: 0;
  }

  .buys__table {
    margin-left: 0;
  }

  .buys__table {
    max-width: 115rem;
  }

  .about__item-img img {
    max-width: 80%;
  }

  .investment__price-item::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100px;
    background-color: #476cbe;
    right: -100px;
    top: 0;
    z-index: 0;
  }

  .intro__price span {
    font-size: 18rem;
  }

  .intro__price {
    margin-left: 30px;
  }

  .consultation__big-img {
    bottom: 0;
    top: auto;
  }

  .intro-block-inner .parallax-item:nth-child(2) {
    left: 18% !important;
  } 

  .intro-block-inner .parallax-item:nth-child(3) {
    right: 14% !important;
  }

  .build-slider__item-img {
    max-width: 42rem;
    height: 42rem;
  }

  .build-main__slider-item {
    padding-bottom: 70px;
  }

  .popup--big {
    max-width: 750px;
  }

  .popup .fancybox-button svg {
    width: 37px;
    height: 37px;
  }

  .fancybox-slide--html .fancybox-close-small {
    width: 37px;
    height: 37px;
    top: -10px;
    right: -38px;
  }

}