.parallax-wrap {
  position: absolute !important;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 0;
  top: 0;
}

.parallax-item {
	pointer-events: none;
}

.parallax-item img {
	display: block;
	width: 100%;
	height: auto;
}

.intro-block .parallax-wrap {
	z-index: 1;
}

.intro-block .parallax-item:nth-child(1) {
	top: 1rem !important;
	left: 0rem !important;
	max-width: 48rem;
	width: 100%;
}

.intro-block .parallax-item:nth-child(2) {
	max-width: 211rem;
	top: 0px !important;
	left: auto !important;
	right: 42rem !important;
}

.intro-block .parallax-item:nth-child(3) {
	max-width: 56.7rem;
	top: 45rem !important;
	left: auto !important;
	right: -5rem !important;
}

.intro-block .parallax-item:nth-child(4) {
	top: 0rem !important;
	left: -10rem !important;
	max-width: 170rem;
	width: 100%;
}

.intro-block .parallax-item:nth-child(5) {
	top: 80rem !important;
	left: 12% !important;
	max-width: 17.4rem;
	width: 100%;
}

.intro-block .parallax-item:nth-child(6) {
	max-width: 28.5rem;
	top: 20rem !important;
	left: auto !important;
	right: 33% !important;
}

.presentation .parallax-item:nth-child(1) {
	top: 35rem !important;
	left: 37% !important;
	max-width: 136.4rem;
	width: 100%;
	z-index: 0;
}

.about .parallax-item:nth-child(1) {
	top: 15rem !important;
	left: -10rem !important;
	max-width: 50.6rem;
	width: 100%;
	z-index: 0;
}

.apartment-choose .parallax-item:nth-child(1) {
	top: 48rem !important;
	left: 0rem !important;
	max-width: 225.4rem;
	width: 100%;
	z-index: 0;
}

.documents .parallax-item:nth-child(1) {
	top: 16rem !important;
	left: -20rem !important;
	max-width: 173.4rem;
	width: 100%;
	z-index: 0;
}

.sales-block .parallax-item:nth-child(1) {
	top: 56rem !important;
	left: 15% !important;
	max-width: 28.5rem;
	width: 100%;
}

.intro-block-inner .parallax-item:nth-child(1) {
	top: 1rem !important;
	left: 0rem !important;
	max-width: 48rem;
	width: 100%;
}

.intro-block-inner .parallax-item:nth-child(2) {
	top: 23rem !important;
	left: 26% !important;
	max-width: 17.4rem;
	width: 100%;
}

.intro-block-inner .parallax-item:nth-child(3) {
	max-width: 28.5rem;
	top: 22rem !important;
	left: auto !important;
	right: 22% !important;
}

.opportunities .parallax-item:nth-child(1) {
	max-width: 17.4rem;
	top: 10rem !important;
	left: auto !important;
	right: -30px !important;
	margin-left: auto;
}
