@import "normalize";
@import "variables";
@import "parallax";
@import "slick";
@import "fancybox";


@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/subset-TTNorms-Regular.woff2') format('woff2'),
        url('../fonts/subset-TTNorms-Regular.woff') format('woff');
    font-weight: normal;
    font-style: 400;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/subset-TTNorms-Medium.woff2') format('woff2'),
        url('../fonts/subset-TTNorms-Medium.woff') format('woff');
    font-weight: 500;
    font-style: 500;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/subset-TTNorms-Bold.woff2') format('woff2'),
        url('../fonts/subset-TTNorms-Bold.woff') format('woff');
    font-weight: bold;
    font-style: 700;
}

@font-face {
    font-family: 'Anglecia Pro Display';
    src: url('../fonts/subset-AngleciaProDisplay.woff2') format('woff2'),
        url('../fonts/subset-AngleciaProDisplay.woff') format('woff');
    font-weight: normal;
    font-style: 400;
}


html {
    //font-size: 10px;
    font-size: 7px;
}



.overflowHidden {
  overflow: hidden;
} 

body {
  font-family: 'TT Norms', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 234.2rem;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.parallax-content {
	overflow: hidden;
}

.intro-block {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/intro-sky-b.png");
		background-size: cover;
		background-repeat: no-repeat;
		//width: 100%;
		//height: 882px;
		//bottom: -280px;
		width: 100vw;
		height: 23vw;
		bottom: -4vw;
	}
}

.header {
	position: relative;
	z-index: 3;
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.header__logo-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 184rem;
	width: 100%;
	margin-left: -13.5rem;
	height: 100px;
}

.header__logo {
	display: block;
	max-width: 26.2rem;
	width: 100%;
}

.header__logo img {
	display: block;
	max-width: 100%;
	height: auto;
}

.header__menu {
	padding-top: 7rem;
}

.header__menu-list {
	display: flex;
	align-items: flex-start;
}

.header__menu-list li {
	margin-right: 11.5rem;

	&:last-child {
		margin-right: 0;
	}
}

.header__menu-list a {
	font-size: 2rem;
	color: #62749a;
	font-weight: 500;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	transition: ease 0.3s;

	&:hover {
		transition: ease 0.3s;
		color: #cdaf7e;
	}
}

.header__tel {
	display: block;
	position: relative;
	font-size: 3.6rem;
	color: #010101;
	font-family: 'Anglecia Pro Display', sans-serif;
	margin-bottom: 2rem;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/tel.svg");
		background-repeat: no-repeat;
		background-size: contain;
		width: 2.1rem;
		height: 2.1rem;
		left: -4rem;
		top: 13px;
	}
}

.header__tel-btn {
	display: inline-block;
	font-size: 1.8rem;
	color: #5076cf;
	font-weight: 500;
	text-transform: uppercase;
	border-bottom: 1px dashed #5076cf;
	padding-bottom: 0.5rem;
	transition: ease 0.3s;
	cursor: pointer;

	&:hover {
		transition: ease 0.3s;
		color: #cdaf7e;
		border-bottom: 1px dashed #cdaf7e;
	}
}

.header__tel-content {
	padding-top: 6.5rem;
}

.intro {
	position: relative;
	z-index: 2;
}

.intro .container {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 9rem;
	padding-bottom: 107rem;
}

.intro__item-info {
	max-width: 26rem;
	width: 100%;
	margin-left: -13.5rem;
	padding-top: 21rem;
}

.intro__info {
	width: 100%;
	background-color: #fff;
	border-radius: 10px;
	padding: 1.1rem;
	margin-bottom: 2.1rem;
}

.intro__info-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #e0f1ff;
	border-radius: 10px;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.intro__info-wrap p {
	font-size: 2.6rem;
	color: #424752;
}

.intro__info:nth-child(1) .intro__info-wrap p {
	padding-left: 1.7rem;
}

.intro__info:nth-child(2) .intro__info-wrap p {
	padding-right: 1.4rem;
}

.intro__video-wrap {
	position: relative;
}

.intro__item-video {
	max-width: 49.5rem;
	width: 100%;
	margin-left: -14rem;
}

.intro__video-main {
	max-width: 36rem;
	width: 100%;
	margin-left: auto;
}

.intro__video-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 20rem;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 15px;
}

.intro__video-btn {
	position: relative;
	display: block;
	border-radius: 50%;
	overflow: hidden;
	width: 10rem;
	height: 10rem;
	transition: ease 0.3s;

	&:hover {
		opacity: 0.9;
		transition: ease 0.3s;
	}

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url("../img/video-btn.png");
		top: 0;
	}
}

.intro__video-btn img {
	display: block;
	max-width: 100%;
	height: auto;
}

.intro__video-text {
	font-size: 2.6rem;
	line-height: 3.8rem;
	color: #424752;
	padding-top: 2.5rem;
	padding-left: 3.7rem;
}

.intro__item-title {
	max-width: 74.5rem;
	width: 100%;
	padding-top: 2.5rem;
}

.intro__subtitle {
	font-size: 2rem;
	color: #8dabc3;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-weight: 500;
}

.intro__title {
	position: relative;
	font-family: 'Anglecia Pro Display', sans-serif;
	font-size: 10rem;
	line-height: 11rem;
	color: #424752;
	font-weight: 400;
	padding-top: 5rem;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/title-dec.svg");
		width: 3.5rem;
		height: 3.8rem;
		background-repeat: no-repeat;
		background-size: contain;
		top: 53%;
		transform: translate(-50%, 0);
		right: -3rem;
	}
}

.intro .btn-main {
	max-width: 65rem;
	margin-top: 6.5rem;

	&::before {
		background-color: #ad976f;
	}
}

.intro .btn-main span {
	background-image: -moz-linear-gradient( 90deg, rgb(188,159,108) 0%, rgb(222,193,144) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(188,159,108) 0%, rgb(222,193,144) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(188,159,108) 0%, rgb(222,193,144) 100%);

	&::before {
		background-image: -moz-linear-gradient( -90deg, rgb(188,159,108) 0%, rgb(222,193,144) 100%);
		background-image: -webkit-linear-gradient( -90deg, rgb(188,159,108) 0%, rgb(222,193,144) 100%);
		background-image: -ms-linear-gradient( -90deg, rgb(188,159,108) 0%, rgb(222,193,144) 100%);

	}
}

.intro .btn-main:hover span::before {
	background-image: -moz-linear-gradient( -90deg, rgb(188,159,108) 0%, rgb(222,193,144) 100%);
	background-image: -webkit-linear-gradient( -90deg, rgb(188,159,108) 0%, rgb(222,193,144) 100%);
	background-image: -ms-linear-gradient( -90deg, rgb(188,159,108) 0%, rgb(222,193,144) 100%);
}

.btn-main {
  position: relative;
  max-width: 64rem;
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 2.2rem;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #fff;
  font-weight: 700;
  transition: ease 0.5s;
  border-radius: 35px;
  box-shadow: 0px 4px 0px 0px rgba(243, 184, 84, 0.001);


  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 16.4rem;
    background-color: #3468ae;
    border-radius: 35px;
    z-index: 1;
    transition: ease 0.3s;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 94%;
    height: 79px;
    z-index: -2;
    border-radius: 35px;
  }

  &:hover {
    transform: translate(0px, -3px);
    transition: ease 0.3s;
  }

  &:active {
    transform: perspective(250px) scale3d(0.99, 0.99, 0.99) translateY(5%);
    transition: ease 0.2s;
    &::before {
      height: 16.4rem;
      transition: ease 0.2s;
    }
  }
}

.btn-main:hover span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -moz-linear-gradient( -90deg, rgb(71,108,190) 0%, rgb(108,148,236) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(71,108,190) 0%, rgb(108,148,236) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(71,108,190) 0%, rgb(108,148,236) 100%);
  opacity: 1;
  border-radius: 35px;
  z-index: -1;
  animation: gradient 1s linear infinite alternate;
  animation-delay: 0.5s;
}

.btn-main span {
  display: inline-block;
  position: relative;
  width: 100%;
  background-image: -moz-linear-gradient( 90deg, rgb(71,108,190) 0%, rgb(108,148,236) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(71,108,190) 0%, rgb(108,148,236) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(71,108,190) 0%, rgb(108,148,236) 100%);
  line-height: 15rem;
  border-radius: 35px;
  padding-top: 0.5rem;
  z-index: 2;
  will-change: transform;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  	background-image: -moz-linear-gradient( -90deg, rgb(71,108,190) 0%, rgb(108,148,236) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(71,108,190) 0%, rgb(108,148,236) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(71,108,190) 0%, rgb(108,148,236) 100%);
    transition: ease 0.3s;
    opacity: 0;
    border-radius: 35px;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 35px;
    box-shadow: inset 0px -2px 7px 0px rgba(255, 255, 255, 0.15);
  }
}

.btn-main--col span {
	line-height: 3.5rem;
	padding-top: 4.7rem;
	padding-bottom: 3.7rem;
}

.btn-main--small {
	max-width: 43rem;
	font-size: 2rem;
}

.btn-main--small span {
	line-height: 12rem;
}

.btn-main--small {
	&:active {
	  transform: perspective(250px) scale3d(0.99, 0.99, 0.99) translateY(5%);
	  transition: ease 0.2s;
	  &::before {
	    height: 13rem;
	  }
	}
}

.btn-main--small::before {
	height: 13rem;

}

.btn-main--smaller {
	font-size: 2rem;
	max-width: 37rem;
	width: 100%;
}

.btn-main--smaller span {
	line-height: 10rem;
}

.btn-main--smaller {
	&:active {
	  transform: perspective(250px) scale3d(0.99, 0.99, 0.99) translateY(5%);
	  transition: ease 0.2s;
	  &::before {
	    height: 11rem;
	  }
	}
}

.btn-main--smaller::before {
	height: 11rem;

}

.btn-main--brown {
	max-width: 55.5rem;
}

.btn-main--brown.btn-main--col span {
	padding-top: 4.2rem;
	padding-bottom: 3.3rem;
}

.btn-main--brown.btn-main--col.btn-main::before {
	height: 15rem;
}

.btn-main--brown span {
	background-image: -moz-linear-gradient( 90deg, rgb(188,159,108) 0%, rgb(222,193,144) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(188,159,108) 0%, rgb(222,193,144) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(188,159,108) 0%, rgb(222,193,144) 100%);

	&::before {
		background-image: -moz-linear-gradient( -90deg, rgb(188,159,108) 0%, rgb(222,193,144) 100%);
		background-image: -webkit-linear-gradient( -90deg, rgb(188,159,108) 0%, rgb(222,193,144) 100%);
		background-image: -ms-linear-gradient( -90deg, rgb(188,159,108) 0%, rgb(222,193,144) 100%);
	}
}

.btn-main--brown:hover span::before {
	background-image: -moz-linear-gradient( -90deg, rgb(188,159,108) 0%, rgb(222,193,144) 100%);
	background-image: -webkit-linear-gradient( -90deg, rgb(188,159,108) 0%, rgb(222,193,144) 100%);
	background-image: -ms-linear-gradient( -90deg, rgb(188,159,108) 0%, rgb(222,193,144) 100%);
}

.btn-main--brown::before {
	background-color: #ad976f;
}

.intro__item-about {
	max-width: 36rem;
	width: 100%;
	margin-right: 2.5rem;
}

.intro__prize-content {
	position: relative;
	display: block;
	font-size: 2.4rem;
	line-height: 3.6rem;
	color: #424752;
	padding-left: 8.5rem;
	margin-bottom: 14.5rem;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/prize.png");
		width: 5.9rem;
		height: 7rem;
		background-repeat: no-repeat;
		background-size: contain;
		top: -12px;
		left: 0;
	}
}

.benefit-table {
	position: relative;
	max-width: 31rem;
	width: 100%;
	margin: 0 auto;
	border-radius: 16px;
	background-color: #fff;
	padding: 1.2rem;
	z-index: 1;
}

.benefit-table__wrap {
	border-radius: 16px;
	border: 1px solid rgb(224, 241, 255);
	padding-left: 5rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.benefit-table__item strong {
	font-size: 9rem;
	font-weight: 400;
	color: #476cbe;
	font-family: 'Anglecia Pro Display', sans-serif;
}

.benefit-table__item {
	padding-bottom: 5.8rem;

	&:last-child {
		padding-bottom: 0;
	}
}

.benefit-table__item p {
	font-size: 2.4rem;
	line-height: 3.4rem;
	color: #424752;
	margin-top: -5px;
}

.intro__price {
	display: flex;
	align-items: center;
	width: 100%;
	padding-top: 7rem;
}

.intro__price span {
	font-family: 'Anglecia Pro Display', sans-serif;
	font-weight: 400;
	font-size: 22rem;
	color: #9eb567;
}

.intro__price p {
	font-size: 2.6rem;
	line-height: 3.4rem;
	color: #424752;
	padding-left: 1.8rem;
}

.intro__tree {
	position: absolute;
	top: 20rem;
	right: -10rem;
	display: block;
	max-width: 63.3rem;
	width: 100%;
	height: auto;
	z-index: 0;
}

.intro__video-sky {
	position: absolute;
	display: block;
	left: 24rem;
	top: -14rem;
	max-width: 55.3rem;
	width: 100%;
	height: auto;
	pointer-events: none;
}

.presentation {
	position: relative;
}

.presentation .container {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 34rem;
	margin-top: -36rem;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/press-decor.svg");
		width: 74.1rem;
		height: 80.1rem;
		background-size: contain;
		background-repeat: no-repeat;
		bottom: 35rem;
		right: -15rem;
		z-index: 0;
		pointer-events: none;
	}
}

.title-block__main-title {
	position: relative;
	font-family: 'Anglecia Pro Display', sans-serif;
	font-size: 9.8rem;
	line-height: 11.4rem;
	color: #424752;
	font-weight: 400;
}

.title-block__main-title span {
	color: #b4996b;
}

.presentation__form-content {
	position: relative;
	max-width: 111.5em;
	margin-left: 15.5rem;
	z-index: 1;
}

.main-form {
	max-width: 64rem;
	width: 100%;
	text-align: center;
}

.main-form strong {
	display: block;
	font-family: 'Anglecia Pro Display', sans-serif;
	font-size: 5.2rem;
	line-height: 6.2rem;
	color: #424752;
	font-weight: 400;
	padding-bottom: 2rem;
}

.main-form__subtitle {
	font-size: 3.4rem;
	line-height: 4.6rem;
	color: #7a859e;
	padding-bottom: 5.3rem;
}

.main-form__fields {
	width: 100%;
	margin-bottom: 3.5rem;
}

.main-form__fields input {
	width: 100%;
	font-size: 3.2rem;
	color: #7a859e;
	border-radius: 35px;
	background-color: rgb(247, 247, 247);
    box-shadow: inset 0px 1px 0px 0px rgba(211, 213, 214, 0.7);
    height: 15rem;
    padding-left: 9.5rem;
    padding-right: 9.5rem;
}

.presentation .title-block {
	padding-bottom: 16.5rem;
}

.main-form__description {
	display: block;
	font-size: 2.4rem;
	line-height: 3.6rem;
	color: #858fa0;
	padding-top: 5rem;
}

.presentation__benefits {
	position: relative;
	max-width: 61.5rem;
	width: 100%;
	padding-top: 7rem;
	z-index: 2;
}

.presentation__benefits-item {
	max-width: 43.5rem;
	width: 100%;
	display: flex;
	align-items: flex-start;
	padding-bottom: 9.5rem;

	&:nth-child(2) {
		margin: 0 auto;
	}

	&:last-child {
		margin-left: auto;
		padding-bottom: 0;
	}
}

.presentation__item-img {
	width: 10rem;
	height: 10rem;
	padding: 1rem;
	box-shadow: 0px 4px 59px 0px rgba(163, 169, 183, 0.21);
	border-radius: 50%;
	margin-right: 4.5rem;
}

.presentation__img-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 4px 59px 0px rgba(163, 169, 183, 0.21);
}

.presentation__benefits-item p {
	font-size: 3rem;
	line-height: 4.6rem;
	color: #424752;
	padding-top: 3rem;
}

.panorama {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/pano-sky.png");
		width: 100%;
		height: 671px;
		background-size: cover;
		background-repeat: no-repeat;
		top: -1px;
		left: 0;
		pointer-events: none;
	}
}

.panorama .container {
	padding-bottom: 122rem;
}

.panorama .title-block {
	max-width: 68rem;
	width: 100%;
	padding-left: 4rem;
}

.panorama .title-block__main-title {
	
	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/binocular.svg");
		background-repeat: no-repeat;
		background-size: contain;
		width: 8rem;
		top: 4rem;
		right: -6rem;
		height: 5.6rem;
	}
}

.panorama .play-btn {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.play-btn {
	position: relative;
	max-width: 26.4rem;
	height: 26.4rem;
	width: 100%;
}

.play-btn__btn {
	position: relative;
	display: block;
	width: 100%;
	border-radius: 50%;
	overflow: hidden;
	transition: ease 0.3s;
	z-index: 1;
	height: 100%;

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url("../img/play-btn-main.png");
		top: 0;
	}
}

// .play-btn__btn:hover ~ .circle-pulse {
// 	animation: none;
// }

.play-btn__btn img {
	display: block;
	width: 100%;
	height: auto;
}

.circle-pulse  {
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  animation: pulse 3s infinite ease-out;
  transform: translate(-50%, -50%);
}

.circle-1 {
  width: 24rem;
  height: 24rem;
  background-color: #fff;
}

.circle-2 {
  width: 20rem;
  height: 20rem;
  background-color: #fff;
  -webkit-animation-delay: 0.333s;
          animation-delay: 0.333s;
}

.circle-3 {
  width: 18rem;
  height: 18rem;
  background-color: #fff;
  -webkit-animation-delay: 0.667s;
          animation-delay: 0.667s;
}

.circle-4 {
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  background-color: #fff;
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(-50%, -50%) scale(0) rotate(0);
            transform: translate(-50%, -50%) scale(0) rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(2) rotate(360deg);
            transform: translate(-50%, -50%) scale(2) rotate(360deg);
    opacity: 0;
  }
}

.title-block--center {
	text-align: center;
}

.quality .container {
	padding-top: 18.7rem;
}

.quality__list {
	display: flex;
	justify-content: space-between;
	max-width: 199.5rem;
	width: 100%;
	margin: 0 auto;
	padding-top: 9.8rem;
}

.quality__item {
	max-width: 60.8rem;
	width: 100%;
	padding: 2rem;
	border-radius: 20px;
	box-shadow: 0px 14px 59px 0px rgba(163, 169, 183, 0.15);
}

.quality__item-wrap {
	text-align: center;
	border-radius: 20px;
	border: 1px solid rgb(221, 225, 236);
	height: 100%;
	padding-bottom: 9rem;
}

.quality__img {
	min-height: 40.5rem;
	margin-bottom: 0.7rem;
	margin-top: 8rem;
}


.quality__img img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.quality__item-wrap strong {
	display: block;
	font-family: 'Anglecia Pro Display', sans-serif;
	font-size: 3.8rem;
	color: #424752;
	font-weight: 400;
	padding-bottom: 4.3rem;
}

.quality__item-wrap p {
	font-size: 3rem;
	line-height: 4.6rem;
	color: #7a859e;
}

.about .container {
	position: relative;
	padding-top: 23.7rem;
}

.about__list {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
	padding-left: 5.5rem;
	padding-right: 5.5rem;
	padding-top: 14rem;
	z-index: 1;
}

.about__item-first .about__item-img {
	max-width: 6.8rem;
	margin-bottom: 2.4rem;
}

.about__item-img img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.about__item-first p {
	font-size: 3.6rem;
	line-height: 5.2rem;
	color: #7a859e;
}

.about__item-first {
	max-width: 48.5rem;
	width: 100%;
	border-radius: 16px;
  	background-color: rgb(255, 255, 255);
  	box-shadow: 0px 4px 59px 0px rgba(163, 169, 183, 0.15);
  	padding: 2rem;
}

.about__item-wrap {
	border-radius: 16px;
	border: 1px solid rgb(224, 241, 255);
	padding-left: 7.5rem;
	padding-right: 7.5rem;
	padding-top: 6.3rem;
	padding-bottom: 6.5rem;
}

.about__item {
	position: relative;
	max-width: 44rem;
	width: 100%;
	text-align: center;
	padding-bottom: 11rem;
}

.about__item strong {
	display: block;
	font-family: 'Anglecia Pro Display', sans-serif;
	font-size: 3.4rem;
	line-height: 4.8rem;
	color: #424752;
	font-weight: 400;
	padding-bottom: 1.7rem;
}

.about__item p {
	font-size: 3rem;
	line-height: 4.4rem;
	color: #7a859e;
}

.about__item .about__item-img {
	display: flex;
	align-items: center;
	min-height: 349px;
}

.resort .container {
	padding-top: 9.5rem;
	padding-bottom: 14rem;
}

.title-block__subtitle {
	font-size: 4rem;
	color: #7a859e;
	padding-top: 4.2rem;
}

.resort__list {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	max-width: 190rem;
	margin: 0 auto;
	padding-top: 13rem;
}

.resort__item {
	max-width: 46.5rem;
	width: 100%;
	text-align: center;
}

.resort__item p {
	font-size: 3rem;
	color: #424752;
	line-height: 4.4rem;
}

.resort__item p span {
	color: #424752;
	font-weight: 500;
} 

.resort__item strong {
	display: block;
	font-size: 3rem;
	line-height: 4.4rem;
	color: #424752;
	font-weight: 500;
}

.resort__item-img {
	max-width: 23.5rem;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 4rem;
	border-radius: 50%;
	overflow: hidden;
}

.resort__item-img img {
	display: block;
	max-width: 100%;
	height: auto;
}

.apartment .container {
	padding-top: 18rem;
}

.apartment__list {
	display: flex;
	padding-top: 13rem;
}

.apartment__item {
	width: 25%;
	text-align: center;
}

.apartment__item:last-child .apartment__item-img {
	border-right: none;
}

.apartment__item-img {
	min-height: 373px;
	margin-bottom: 3.5rem;
	border-right: 1px solid rgb(221, 225, 236);
}

.apartment__item-img img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.apartment__item strong {
	font-family: 'Anglecia Pro Display', sans-serif;
	display: block;
	font-size: 3.6rem;
	line-height: 4.8rem;
	color: #b4996b;
	font-weight: 400;
	padding-bottom: 3rem;
	min-height: 126px;
}

.apartment__item p {
	font-size: 3rem;
	line-height: 5rem;
	color: #424752;
}

.apartment .btn-main {
	margin-top: 6rem;
}

.main-form__info-text {
	font-size: 2.6rem;
	line-height: 3.8rem;
	color: #abb6cd;
	padding-bottom: 4.7rem;
}

.apartment-choose {
	position: relative;
	z-index: 1;
}

.apartment-choose .container {
	position: relative;
	padding-top: 21rem;
	z-index: 2;
}

.apartment-choose .main-form {
	margin-left: auto;
	margin-right: 23rem;
	margin-top: 18rem;
}

.keys .container {
	position: relative;
	padding-top: 28rem;
	z-index: 1;
	padding-bottom: 5.6rem;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/key.svg");
		background-repeat: no-repeat;
		background-size: contain;
		width: 65.6rem;
		height: 66.6rem;
		top: 10rem;
		right: 20%;
		pointer-events: none;
		z-index: -1;
	}

	&::after {
		content: "";
		position: absolute;
		background-image: url("../img/key-map.png");
		background-repeat: no-repeat;
		background-size: contain;
		width: 78.7rem;
		height: 45.7rem;
		bottom: 0;
		right: -37rem;
		pointer-events: none;
		z-index: -1;
	}
}

.keys__list {
	max-width: 199rem;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
	z-index: 2;
	margin-left: 17.5rem;
}

.keys__item {
	max-width: 60rem;
	width: 100%;
	border-radius: 20px;
	padding: 2rem;
	box-shadow: 0px 14px 59px 0px rgba(163, 169, 183, 0.15);
	background-color: #fff;
}

.keys__item-wrap {
	border: 1px solid rgb(221, 225, 236);
	border-radius: 20px;
	text-align: center;
	height: 100%;
	padding-top: 8rem;
	padding-bottom: 9rem;
}

.keys__item-img {
	display: flex;
	min-height: 363px;
	align-items: flex-end;
	margin-bottom: 4.5rem;
}

.keys__item-img img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.keys__item strong {
	display: block;
	font-family: 'Anglecia Pro Display', sans-serif;
	font-size: 3.6rem;
	color: #424752;
	font-weight: 400;
	padding-bottom: 2.4rem;
}

.keys__item span {
	display: block;
	font-size: 2rem;
	color: #b4996b;
	font-weight: 500;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	padding-bottom: 3.5rem;
}

.keys__item p {
	max-width: 38rem;
	width: 100%;
	margin: 0 auto;
	font-size: 2.8rem;
	line-height: 4.4rem;
	color: #424752;
	margin-bottom: 3.5rem;
	min-height: 17.6rem;
}

.keys__item-link {
	font-size: 2.8rem;
	color: #476cbe;
}

.keys__about-content {
	max-width: 31.5rem;
	width: 100%;
	margin-right: -23rem;
}

.keys__about {
	width: 100%;
	position: relative;
	text-align: center;
	background-color: #476cbe;
	padding-top: 5.5rem;
	z-index: 2;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/key-cont.png");
		background-repeat: no-repeat;
		background-size: cover;
		height: 51rem;
		width: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}
}

.keys__about-img {
	max-width: 16.6rem;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 4rem;
}

.keys__about-img img {
	display: block;
	//max-width: 100%;
	max-width: 70%;
	height: auto;
	margin: 0 auto;
}

.keys__about p {
	font-size: 2.8rem;
	line-height: 4.2rem;
	color: #b4cbff;
}

.keys__main-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 10.5rem;
}

.keys__achievements {
	text-align: center;
}

.keys__achievements-img {
	max-width: 15.9rem;
	width: 100%;
	margin: 0 auto;
	margin-top: 15rem;
	margin-bottom: 2rem;
}

.keys__achievements-img img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto; 
}

.keys__achievements p {
	font-size: 2.8rem;
	line-height: 4.2rem;
	color: #424752;
}

.documents .container {
	position: relative;
	padding-top: 16rem;
	padding-bottom: 15rem;
}

.documents .title-block {
	position: relative;
	z-index: 1;
}

.documents__list {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
	max-width: 70rem;
	width: 100%;
	margin-left: auto;
	margin-right: 11rem;
	padding-top: 14.5rem;
	z-index: 1;
}

.documents__item-note {
	max-width: 32.5rem;
	border-radius: 12px;
  	box-shadow: 0px 4px 59px 0px rgba(163, 169, 183, 0.15);
  	padding: 2rem;
}

.documents__item-note-wrap {
	border-radius: 12px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 4px 59px 0px rgba(163, 169, 183, 0.15);
	padding-left: 5.4rem;
	padding-right: 5.4rem;
	padding-top: 4.5rem;
	padding-bottom: 4.2rem;
}

.documents__item-note p {
	font-size: 2.8rem;
	line-height: 3.8rem;
	color: #424752;
}

.documents__item-note-img {
	max-width: 3.9rem;
	width: 100%;
}

.documents__item-note-img img {
	display: block;
	max-width: 100%;
	height: auto;
	margin-bottom: 2rem;
}

.documents__item {
	max-width: 26.5rem;
	width: 100%;
	margin-top: 6.5rem;

	&:nth-child(odd) {
		margin-left: 7.4rem;
	}
}

.documents__item-img {
	max-width: 6.9rem;
	width: 100%;
	margin-bottom: 2.5rem;
}

.documents__item-img img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.documents__item-link {
	font-size: 2.6rem;
	line-height: 4rem;
	color: #424752;
	text-decoration: underline;
	text-decoration-color: #424752;
	transition: ease 0.3s;

	&:hover {
		text-decoration-color: transparent;
		transition: ease 0.3s;
	}
}

.investment .container {
	position: relative;
	padding-top: 18rem;
	padding-bottom: 14.5rem;
}

.investment__content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 19.7rem;
}

.investment__price {
	max-width: 42rem;
	width: 100%;
	margin-left: -6.5rem;
}

.investment__price-item {
	position: relative;
	background-color: #476cbe;
	margin-bottom: 8.5rem;
	z-index: 1;
	padding-left: 7rem;
	padding-top: 4.4rem;
	padding-bottom: 5.2rem;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/investment-dec.png");
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		// height: 31.5rem;
		height: 100%;
		z-index: -1;
		left: -42px;
		top: 0;
	}
}

.investment__price-item p {
	font-size: 3rem;
	line-height: 4.4rem;
	color: #fefefe;
	max-width: 24.5rem;
	width: 100%;
}

.investment__benefits-img {
	max-width: 18.8rem;
	width: 100%;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 4.1rem;
}

.investment__benefits-img img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.investment__benefits-title {
	font-family: 'Anglecia Pro Display', sans-serif;
	font-size: 4rem;
	color: #424752;
	line-height: 5.2rem;
	font-weight: 400;
	padding-bottom: 3.2rem;
}

.investment__benefits-title span {
	color: #b4996b;
}

.investment__benefits-item {
	max-width: 35.5rem;
	width: 100%;
}

.investment__benefits-item p {
	font-size: 2.8rem;
	line-height: 4.2rem;
	color: #424752;
}

.investment__benefits-item ul li {
	position: relative;
	font-size: 3rem;
	line-height: 4.2rem;
	color: #424752;
	padding-left: 4.4rem;
	padding-bottom: 1.7rem;

	&::before {
		content: "";
		position: absolute;
		top: 1.5rem;
		left: 0;
		width: 11px;
		height: 11px;
		border-radius: 50%;
		border: 3px solid rgb(158, 181, 103);
	}
}

.investment__services .investment__benefits-img {
	margin-left: -2rem;
}

.investment__services {
	margin-right: -9.5rem;
}

.investment__services .investment__benefits-item {
	max-width: 39rem;
}

.investment__main-img {
	position: absolute;
	bottom: 0;
	left: 47%;
	transform: translate(-50%, 0);
	max-width: 176.3rem;
	width: 100%;
	z-index: 2;
}

.investment__main-img img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.excursion {
	background-size: inherit;
	background-repeat: no-repeat;
	background-position: bottom;
}

.excursion .container {
	padding-top: 20rem;
	padding-bottom: 19.5rem;
}

.excursion__content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 13.3rem;
}

.excursion__list {
	max-width: 58rem;
	width: 100%;
}

.excursion__list li {
	position: relative;
	font-size: 3.2rem;
	color: #424752;
	padding-left: 7.5rem;
	padding-bottom: 6.5rem;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/list-dec.png");
		background-repeat: no-repeat;
		background-size: contain;
		width: 2.1rem;
		height: 2.6rem;
		left: 0;
		top: 1rem;
	}
}

.main-form--background {
	max-width: 86.5rem;
	width: 100%;
	padding: 2rem;
	box-shadow: 0px 4px 59px 0px rgba(163, 169, 183, 0.15);
	background-color: #fff;
	border-radius: 16px;
}

.main-form__wrap {
	border-radius: 16px;
	border: 1px solid rgb(224, 241, 255);
	padding: 9rem;
}

.excursion .main-form {
	margin-right: -4rem;
	margin-top: 4rem;
}

.buys__title-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.buys .title-block {
	max-width: 119.5rem;
	width: 100%;
	margin-left: 7rem;	
}

.buys .container {
	padding-top: 21rem;
}

.buys__description {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 54.5rem;
	margin-right: 28rem;
	margin-top: 4rem;
		
}

.buys__description-wrap {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 12.5rem;
	height: 12.5rem;
	border-radius: 50%;
  	background-color: rgb(255, 255, 255);
  	box-shadow: 0px 4px 59px 0px rgba(163, 169, 183, 0.21);
  	padding: 1rem;
  	margin-right: 4rem;
}

.buys__description-img {
	display: flex;
	align-items: center;
	width: 9.5rem;
	height: 9.5rem;
	margin: 0 auto;
	justify-content: center;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 4px 59px 0px rgba(163, 169, 183, 0.21);
}

.buys__description p {
	font-size: 3rem;
	line-height: 4.4rem;
	color: #7a859e;
	padding-top: 4rem;
}

.main-form__link-data {
	font-size: 2.4rem;
	color: #6088d8;
	line-height: 3.6rem;
}

.buys__table {
	max-width: 141rem;
	width: 100%;
	margin-left: 7rem;
}

.buys__logo-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 4rem;
}

.buys__logo-col {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	max-width: 52.5rem;
	width: 100%;
	min-height: 21.6rem;
}

.buys__safe {
	max-width: 52.5rem;
	width: 100%;
}

.buys__safe p {
	font-family: 'Anglecia Pro Display', sans-serif;
	position: relative;
	font-size: 5.2rem;
	color: #424752;
	font-weight: 400;
	padding-left: 9.5rem;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/safe.svg");
		width: 6.1rem;
		height: 6.1rem;
		background-size: contain;
		background-repeat: no-repeat;
		left: 0;
		top: 0.5rem;
	}
}

.buys__logo-img img {
	display: block;
	max-width: 100%;
	height: auto;
	margin-left: auto;
}

.buys__title-col strong {
	font-size: 3rem;
	font-weight: 500;
	color: #424752;
}

.buys__row p {
	font-size: 3.2rem;
	color: #424752;
}

.buys__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.buys__title-col {
	max-width: 45rem;
	width: 100%;
	text-align: center;
}

.buys__text-col {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 45rem;
	width: 100%;
	text-align: center;
	border-bottom: 1px solid #d9e0f0;
	min-height: 21.6rem;
}

.buys__row:last-child .buys__text-col {
	border-bottom: none;
}

.buys__main-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 12rem;
}

.main-form h4 {
	font-family: 'Anglecia Pro Display', sans-serif;
	text-align: left;
	font-size: 5.4rem;
	line-height: 6.4rem;
	color: #424752;
	font-weight: 400;
	padding-bottom: 5rem;
}

.main-form h4 span {
	color: #b4996b;
}

.buys .main-form {
	max-width: 60.5rem;
	margin-top: 1rem;
}

.sales-block .container {
	position: relative;
	padding-bottom: 100rem;
	padding-top: 13rem;
}

.sales-block__list {
	max-width: 138rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.sales-block__item {
	display: flex;
	align-items: flex-start;
	max-width: 57rem;
	width: 100%;

	&:last-child {
		display: block;
	}
}

.sales-block__item-wrap {
	display: flex;
	display: flex;
	align-items: flex-start;
}

.sales-block__item-title {
	max-width: 45rem;
	width: 100%;
}

.sales-block__item-title strong {
	display: block;
	font-family: 'Anglecia Pro Display', sans-serif;
	font-size: 5.6rem;
	font-weight: 400;
	padding-bottom: 4rem;
	color: #424752;
}

.sales-block__item-title p {
	font-size: 3.2rem;
	color: #424752;
	line-height: 4.6rem;
	padding-bottom: 0.5rem;
}

.sales-block__item-img {
	margin-right: 3rem;
}

.sales-block__item-img img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.sales-block .btn-main {
	margin-top: 4.8rem;
}

.sales-block {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	&::before {
		content: '';
		position: absolute;
		background-image: url("../img/sale-sky-t.png");
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		left: 0;
		top: -1px;
		height: 671px;
	}

	&::after {
		content: '';
		position: absolute;
		background-image: url("../img/sale-sky-b.png");
		background-size: cover;
		background-repeat: no-repeat;
		width: 100%;
		left: 0;
		bottom: -3px;
		height: 443px;
	}
}

.office__list {
	position: relative;
	max-width: 211rem;
	width: 100%;
	margin: 0 auto;
	border-radius: 16px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 59px 0px rgba(163, 169, 183, 0.15);
    padding: 2rem;
    z-index: 1;
    margin-top: 11rem;

    &::before {
    	content: "";
    	position: absolute;
    	background-image: url("../img/office-tree.jpg");
    	background-repeat: no-repeat;
    	background-size: cover;
    	width: 41.3rem;
    	height: 21.7rem;
    	bottom: 0px;
    	right: 26%;
    	z-index: 0;
    	pointer-events: none;
    }
}

.office__item {
	position: relative;
	z-index: 2;
}

.office__list-wrap {
	border-radius: 16px;
	border: 1px solid rgb(224, 241, 255);
	padding-left: 9.8rem;
	padding-right: 9.8rem;
}

.office__list-wrap {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 5.8rem;
	padding-bottom: 8.5rem;
}

.office__item strong {
	display: block;
	font-family: 'Anglecia Pro Display', sans-serif;
	font-size: 3.2rem;
	font-weight: 400;
	color: #424752;
	padding-bottom: 2.3rem;
}

.office__item p {
	font-size: 2.8rem;
	line-height: 4.2rem;
	color: #424752;
}

.office__mail {
	font-size: 2.8rem;
	color: #476cbe;
}

.office .btn-main {
	display: block;
	margin-top: 3.5rem;
}

.footer {
	position: relative;
	z-index: 2;
	background-color: #fff;
}

.footer .container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding-top: 8rem;
	padding-bottom: 7rem;
}

.footer__logo-content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: 67rem;
	width: 100%;
}

.footer__logo {
	font-size: 3rem;
	color: #424752;
	font-weight: 500;
	text-transform: uppercase;
}

.footer__company-info p {
	font-size: 2.4rem;
	color: #424752;
	line-height: 4.6rem;
}

.footer__main-content {
	display: flex;
	align-items: center;
	justify-content: space-around;
	max-width: 140rem;
	width: 100%;
}

.footer__nav a {
	font-size: 2.6rem;
	line-height: 4.4rem;
	color: #8c94a2;
	transition: ease 0.3s;

	&:hover {
		color: #000;
		transition: ease 0.3s;
	}
}

.footer__social {
	display: flex;
}

.footer__social-item {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 7.2rem;
	height: 7.2rem;
	border-radius: 50%;
  	background-color: rgb(71, 108, 190);
  	margin-right: 2.1rem;
  	transition: ease 0.3s;

  	&:hover {
  		transition: ease 0.3s;
  		opacity: 0.8;	
  	}

  	&:last-child {
  		margin-right: 0;
  	}
}

.footer__social img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.footer__social .vk img {
	width: 3.4rem;
}

.footer__social .facebook img {
	width: 3rem;
}

.footer__social .instagram img {
	width: 3rem;
}

.footer__tel {
	display: block;
	font-size: 3.2rem;
	line-height: 4.2rem;
	color: #424752;
	margin-bottom: 0.7rem;
	font-weight: 500;
}

.footer__mail {
	display: block;
	font-size: 2.8rem;
	color: #476cbe;
	line-height: 4.2rem;
}

.territory {
	padding-bottom: 17.5rem;
}

.territory .title-block {
	position: relative;
	padding-top: 4.5rem;

	&::before {
		content: "";
		position: absolute;
		left: 50%;
		top: 0;
		transform: translate(-50%, 0);
		background-image: url("../img/stars.png");
		background-repeat: no-repeat;
		background-size: contain;
		max-width: 168px;
		width: 100%;
		height: 24px;
	}
}

.territory .title-block__subtitle {
	line-height: 5.6rem;
}

.slider-big__item img {
	display: block;
	margin: 0 auto;
	max-width: 199.9rem;
	width: 100%;
	height: auto;
    border-radius: 2rem;
}

.territory__slider-wrap {
	position: relative;
	margin-top: 28.3rem;
}

.territory__slider-wrap .container {
	position: absolute;
	display: flex;
	align-items: center;
	left: 50%;
	width: 100%;
	transform: translate(-50%, 0);
	height: 100%;
	z-index: 2;
}

.territory__btns-wrap {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: -14rem;
}

.territory__slider-btn {
	background-color: transparent;
	transition: ease 0.3s;

	&:hover {
		transition: ease 0.3s;
		opacity: 0.8;
	}
}

.slider-big__info {
	position: absolute;
	bottom: 0;
	max-width: 57.5rem;
	width: 100%;
	border-radius: 16px;
    background-color: rgb(255, 255, 255);
	box-shadow: 0px 4px 59px 0px rgba(163, 169, 183, 0.15);
    padding: 2rem;
    left: 13%;
    opacity: 0;
    transition: ease 0.3s;
}

.slider-big__info-wrap {
	border-radius: 10px;
	border: 1px solid rgb(224, 241, 255);
	padding-left: 7rem;
	padding-right: 7rem;
	padding-top: 6.1rem;
	padding-bottom: 7.2rem;
}

.slider-big__info-wrap h4 {
	font-family: 'Anglecia Pro Display', sans-serif;
	font-size: 4.2rem;
	line-height: 5.2rem;
	color: #424752;
	font-weight: 400;
	padding-bottom: 3rem;
}

.slider-big__info-wrap h4 span {
	color: #b4996b;
}

.slider-big__info-wrap li {
	position: relative;
	font-size: 3rem;
	line-height: 6rem;
	color: #424752;
	padding-left: 6rem;

	&::before {
		content: "";
		position: absolute;
		top: 2.4rem;
		left: 2rem;
		width: 1.1rem;
		height: 1.1rem;
		border-radius: 50%;
		border: 0.3rem solid #9eb567;
	}
}

.slider-big__item {
	position: relative;
	padding-bottom: 14rem;
}

.slider-big .slick-current .slider-big__info {
	opacity: 1;
	transition: ease 0.3s;
}

.territory__slider-btn {
	max-width: 4.7rem;
	width: 100%;
}

.territory__slider-btn img {
	display: block;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.opportunities .title-block__main-title {
	font-size: 6rem;
	line-height: 7.6rem;
	color: #424752;
}

.opportunities .title-block__main-title span {
	color: #476cbe;
}
.opportunities__map + .container {
    pointer-events: none;
}
.opportunities__info {
	position: absolute;
	max-width: 36rem;
	padding: 1.5rem;
	border-radius: 16px;
 	background-color: rgb(255, 255, 255);
  	box-shadow: 0px 4px 59px 0px rgba(163, 169, 183, 0.15);
  	top: 50%;
  	transform: translate(0, -50%);
  	right: -8rem;
}

.opportunities__info-wrap {
	border-radius: 10px;
	border: 1px solid rgb(224, 241, 255);
	padding-left: 5.5rem;
	padding-right: 5.5rem;
	padding-bottom: 1rem;
	padding-top: 4.4rem;
}

.opportunities__info-item strong {
	font-family: 'Anglecia Pro Display', sans-serif;
	font-size: 6rem;
	color: #476cbe;
	font-weight: 400;
}

.opportunities__info-item p {
	font-size: 2.2rem;
	line-height: 3rem;
	color: #424752;
}

.opportunities__info-item {
	padding-bottom: 5rem;
}

.header__mob-logo {
	display: none;
}

.header__mob-tel {
	display: none;
}

.header__mob-mail {
	display: none;
}

.burger-content {
	display: none;
}

.mobile-menu-close {
	display: none;
}

.header__mob-content {
	display: none;
}

.apartment {
	position: relative;
	z-index: 2;
}

.inner-title {
	font-family: 'Anglecia Pro Display', sans-serif;
	font-size: 10rem;
	line-height: 11rem;
	color: #424752;
	font-weight: 400;
	text-align: center;
	padding-top: 13rem;
}

.intro-block-inner {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.intro-inner {
	position: relative;
	z-index: 1;
}

.intro-inner .intro__item-info {
	padding-top: 0;
	margin-top: -3.5rem;
}

.news {
	position: relative;
	margin-top: -7rem;
}

.news__list {
	max-width: 189rem;
	width: 100%;
	margin: 0 auto;
}

.news__item {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 24.8rem;
}

.news__item-img {
	max-width: 91.4rem;
	width: 100%;
}

.news__item-img img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	border-radius: 10px;
}

.news__item-content {
	max-width: 87rem;
	width: 100%;
	padding-top: 1rem;
}

.news__item-data {
	display: block;
	font-size: 2rem;
	text-transform: uppercase;
	color: #b4996b;
	font-weight: 500;
	padding-bottom: 5.3rem;
	letter-spacing: 0.05em;
}

.news__item-title {
	font-family: 'Anglecia Pro Display', sans-serif;
	font-size: 6rem;
	line-height: 7.2rem;
	color: #424752;
	font-weight: 400;
	padding-bottom: 5rem;
}

.news__item-content p {
	font-size: 3.2rem;
	line-height: 4.6rem;
	color: #7a859e;
	padding-bottom: 5.5rem;

	&:last-child {
		padding-bottom: 0;
	}
}

.consultation {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/cons-sky.png");
		pointer-events: none;
		right: 0;
		bottom: -80px;
		width: 100%;
		height: 443px;
		z-index: 1;
	}
}

.consultation .container {
	position: relative;
	padding-bottom: 14rem;
}

.consultation h3 {
	position: relative;
	font-family: 'Anglecia Pro Display', sans-serif;
	max-width: 76rem;
	width: 100%;
	font-size: 10.4rem;
	line-height: 11.4rem;
	color: #424752;
	font-weight: 400;
	text-align: left;
	padding-bottom: 11rem;
	margin-left: 25rem;
	z-index: 1;
}

.consultation h3 span {
	color: #b4996b;
}

.consultation .main-form {
	position: relative;
	margin-left: 25rem;
	z-index: 1;
}

.consultation__big-img {
	display: block;
	max-width: 100%;
	height: auto;
	position: absolute;
	top: -15rem;
	right: 0;
	z-index: 0;
	pointer-events: none;
}

.build-main__panel {

}
//.build-main__content.tabs-info-js {
//	min-height: 120rem;
//}

.build-main__panel {
	display: flex;
	justify-content: center;
}
.build-main__panel a {
	text-decoration: none;
	outline: none;
}
.build-main__panel li,
.build-main__panel div,
.build-main__panel a{
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 43rem;
	width: 100%;
	font-size: 2.2rem;
	color: #424752;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.05em;
	height: 15.5rem;
	cursor: pointer;
	border: 1px solid rgb(221, 225, 236);
	text-align: center;
	padding-left: 5rem;
	padding-right: 5rem;

	&:last-child {
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
		border-left: none;
	}

	&:first-child {
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		border-right: none;
	}

	&.active {
		background-image: -moz-linear-gradient( -90deg, rgb(71,108,190) 0%, rgb(108,148,236) 100%);
        background-image: -webkit-linear-gradient( -90deg, rgb(71,108,190) 0%, rgb(108,148,236) 100%);
        background-image: -ms-linear-gradient( -90deg, rgb(71,108,190) 0%, rgb(108,148,236) 100%);
        color: #fff;
	}
}
.build-main__panel div.active {
	cursor: default;
}
.build-main__panel li span,
.build-main__panel div span,
.build-main__panel a span{
	display: block;
	line-height: 3.8rem;
}

.build-main__tab-item {
	display: none;
	opacity: 1;
	//transition: opacity 0.2s ease;
	will-change: opacity;
	&-inner {
		display: flex;
		justify-content: space-between;
		@media (max-width: 960px) {
		    flex-flow: column;
			align-items: center;
		}
		> div {
			width: 47%;
			@media (max-width: 960px) {
				width: 100%;
				+ div {
					margin-top: 12rem;
				}
			}
		}
	}
	&.hidden {
		opacity: 0;
	}
	&.active {
		display: block;
	}
}

.build-main__slider-data {
	display: block;
	text-align: center;
	font-family: 'Anglecia Pro Display', sans-serif;
	font-size: 6rem;
	color: #b4996b;
	font-weight: 400;
	padding-bottom: 7.7rem;
}

.build-main__tabs {
	margin-top: 16rem;
}

.build-main {
	position: relative;
	z-index: 2;
	margin-top: -14rem;
}

// .build-slider__item img {
// 	display: block;
// 	margin: 0 auto;
// 	max-width: 51rem;
// 	width: 100%;
// 	height: auto;
// 	border-radius: 12px;
// }

.build-slider__item-img {
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 20px;
	max-width: 51rem;
	width: 100%;
	height: 51rem;
	margin: 0 auto;

}

.build-slider__item p {
	font-size: 3rem;
	color: #7a859e;
	text-align: center;
	padding-top: 3.2rem;
}

.build-slider__wrapper {
	position: relative;
}

.build-slider__slider-btn {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	background-color: transparent;
	z-index: 1;
}

.build-slider__slider-btn--prev {
	left: -13.5rem;
}

.build-slider__slider-btn--next {
	right: -13.5rem;
}

.build-slider__slider-btn {
	max-width: 4.1rem;
	width: 100%;
	transition: ease 0.3s;

	&:hover {
		opacity: 0.8;
		transition: ease 0.3s;
	}
}

.build-slider__slider-btn img {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: auto;
}

.build-main__slider-item {
	padding-bottom: 19.5rem;

	&:last-child {
		padding-bottom: 0;
	}
}

.build-main__panorama {
	background-position: center;
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 191rem;
	width: 100%;
	//height: 117rem;
	height: 66rem;
	margin: 0 auto;
	border-radius: 20px;
}

.build-main__tab-item {
	padding-bottom: 22rem;
}

.build-main__tab-item .play-btn {
	width: 22rem;
	height: 22rem;
}

.footer-inner {
	border-top: 1px solid rgb(217, 224, 240);
}

.footer-inner .container {
	padding-top: 5rem;
}

#map-2 {
	width: 100%;
	height: 139rem;
}

.ymaps-2-1-74-map-copyrights-promo {
	display: none !important;
}

.ymaps-2-1-74-copyright {
	display: none !important;
}

#map-1 {
	height: 160rem;
	width: 100%;
	filter: grayscale(1);
	> * {
		height: 100% !important;
	}
}

.opportunities .container {
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 100%;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

.opportunities {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/map-1-sky.png");
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 516px;
		top: 0;
		left: 0;
		pointer-events: none;
		z-index: 2;
	}
}

.office__map {
	position: relative;
	margin-top: -35rem;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/office-sky.png");
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 671px;
		top: -2px;
		left: 0;
		pointer-events: none;
		z-index: 1;
	}
}

.office .container {
	position: relative;
	z-index: 2;
}

.slider-item-title {
	display: none;
}

.slider-big .slick-dots {
	position: absolute;
	display: flex !important;
	flex-wrap: wrap;
	justify-content: center;
	top: -28.3rem;
	z-index: 2;
	width: 100%;
}

.slider-big .slick-dots li {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 43rem;
	width: 100%;
	font-size: 2.2rem;
	color: #424752;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.05em;
	height: 15.5rem;
	cursor: pointer;
	border: 1px solid #dde1ec;
	text-align: center;
	line-height: 15.5rem;
	margin: 0;
	border-right: none;
	cursor: pointer;
	background-color: #fff;
	overflow: hidden;

	&.slick-active {
		background-image: -moz-linear-gradient(-90deg, #476cbe 0%, #6c94ec 100%);
		background-image: -webkit-linear-gradient(-90deg, #476cbe 0%, #6c94ec 100%);
		background-image: -ms-linear-gradient(-90deg, #476cbe 0%, #6c94ec 100%);
		color: #fff;
	}

	&:first-child {
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
	}

	&:last-child {
		border-right: 1px solid #dde1ec;
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
	}
}

.territory .title-block__subtitle {
	padding-bottom: 11rem;
}

.slider-big__pag-item {
	display: block;
}

label.error {
	display: block;
	font-size: 2.6rem;
	color: red;
	text-align: left;
	padding-left: 9.5rem;
}

.fancybox-content {
	overflow: initial;
}

.popup {
	display: none;
	max-width: 187.5rem;
	width: 100%;
	margin: 0 auto;
	padding: 2rem;
	border-radius: 16px;
	box-shadow: 0px 4px 59px 0px rgba(163, 169, 183, 0.15);
}

.popup__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid rgb(224, 241, 255);
	border-radius: 10px;
}

.popup-big__bg {
	max-width: 118.5rem;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	height: 102.4rem;
	background-position: right;
}

.popup .main-form {
	max-width: 93.4rem;
	width: 100%;
	padding-top: 10rem;
	padding-bottom: 11rem;
}

.popup-small .main-form {
	padding-top: 9rem;
	padding-bottom: 8rem;
}

.popup .main-form strong {
	max-width: 70rem;
	width: 100%;
	margin: 0 auto;
}

.popup form {
	max-width: 68.5rem;
	width: 100%;
	margin: 0 auto;
}

.popup .btn-main {
	max-width: none;
}

.popup .fancybox-button svg {
    width: 9.5rem;
    height: 9.5rem;
}

.fancybox-slide--html .fancybox-close-small {
    color: #fff;
    right: -100px;
    width: 9.5rem;
    height: 9.5rem;
    padding: 0;
    top: -18px;
    transition: ease 0.3s;
    opacity: 1;
}

.fancybox-close-small:hover {
    opacity: 0.7;
    transition: ease 0.3s;
}

.popup-small {
	max-width: 85rem;
}

.intro-block--thanks .header__tel-content {
	padding-top: 5.5rem;
}

.intro__thanks-content {
	max-width: 163rem;
	width: 100%;
	margin: 0 auto;
}

.intro-block--thanks .intro__item-title {
	max-width: 130rem;
}

.intro-block--thanks .intro__title::before {
	display: none;
}

.intro__text-subtitle {
	font-size: 4rem;
	line-height: 5.6rem;
	color: #7a859e;
	padding-top: 4.5rem;
}

.intro__thanks-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10rem;
}

.intro__thanks-list {
	max-width: 113.5rem;
	width: 100%;
	border-radius: 16px;
  	background-color: rgb(255, 255, 255);
  	padding: 1rem;
}

.intro__thanks-info-wrap {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	border-radius: 10px;
	border: 1px solid rgb(224, 241, 255);
	padding-left: 9rem;
	padding-right: 9rem;
	padding-top: 5.5rem;
	padding-bottom: 7rem;
}

.intro__spacer {
	background-color: rgb(71, 108, 190);
	width: 4rem;
	height: .4rem;
	margin-bottom: 3rem;
}

.intro__thanks-item p {
	font-size: 2.8rem;
	color: #424752;
	line-height: 4.6rem;
}

.intro__thanks-item a {
	font-size: 2.8rem;
	color: #424752;
	line-height: 4.6rem;
	font-weight: 700;
}

.intro__thanks-description {
	font-size: 2.8rem;
	color: #424752;
	line-height: 4.6rem;
}

.intro-block--thanks.intro-block .parallax-item:nth-child(6) {
	right: 22% !important;
}

.intro-block--thanks .intro .container {
	margin-top: 13rem;
}

.office__tel {
	color: #424752;
}

.fancybox-button--zoom {
	display: none !important;
}

.fancybox-button--play {
	display: none;
}


#plans {
	display: none !important;
}

@import "media-desktop";
@import "media-mobile";